@charset "utf-8";
@import "../utility/*";

.capcha{margin:19px auto;display:flex;justify-content:center;align-items:center}@media (max-width: 767px){.capcha{margin-top:14px}}.capcha .g-recaptcha,.capcha .g-recaptcha>div,.capcha iframe{max-width:100% !important}

#btnConfirm:disabled,
#btnConfirm[disabled]{
  //pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
}

.page-form {
  // BASE ON FORM DEFAULT
  .errMsg {
    margin-left: 1em;
    padding-bottom: 1px;
    display: block;
    line-height: 1.4;
    text-indent: -0.9em;
  }
  .formError {
    padding-bottom: 13px;
    display: block;
  }
  .fixed {
    padding-bottom: 0px;
  }
  .formError .formErrorClose {
    border: solid #252525 2px;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    right: -4px;
    color: #efefef;
    background: #333;
    font-weight: bold;
    text-align: center;
    line-height: middle;
    cursor: pointer;
    z-index: 2;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px -1px 3px #888;
  }
  .formError .formErrorClose:hover {
    background: #666;
  }
  .fixed .formErrorClose {
    display: none;
  }
  .formError .formErrorContent {
    padding: 6px 10px;
    position: relative;
    color: #fff;
    background: #252525;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica,
      "ヒラギノ丸ゴ Pro W4", HiraMaruPro-W4, "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, Osaka, sans-serif;
    font-size: 11px;
    margin: 0 0;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0px 0px 6px #888;
  }
  .fixed .formErrorContent {
    margin-top: 0.5em;
    background: #f60;
    margin: 0 0 30px 0;
    border-radius: none;
    box-shadow: none;
  }
  .fadeOut {
    opacity: 0.2;
  }
  .hid_url {
    display: none;
  }
  // BASE ON FORM DEFAULT

  .form-block {
    background: #fff;
    border-radius: 30px;
    border: solid 1px $blue01;
    padding: 80px 80px;
    max-width: 1000px;
    margin: 0 auto;
    @include PC {
      @include max-screen(1000px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @include max-screen(900px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    @include SP {
      border-radius: 20px;
      padding: 30px 23px 55px;
    }
  }

  .tableContact {
    width: 100%;
    text-align: left;
    margin-bottom: 22px;
    @include SP {
      margin-bottom: 17px;
    }
    td,
    th {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
      @include SP {
        display: block;
        margin-bottom: 0;
      }
    }
    th {
      width: 220px;
      @include font(15);
      line-height: 24px;
      letter-spacing: 1.8px;
      font-weight: 700;
      padding-top: 11px;
      @include SP {
        width: 100%;
        @include font(14);
        line-height: 22px;
        margin-bottom: 9px;
        padding-top: 0;
      }
    }
    td {
      position: relative;
      width: calc(100% - 220px);
      @include SP {
        width: 100%;
        margin-bottom: 15px;
      }

    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="url"] {
      width: 100%;
      height: 50px;
      border-radius: 25px;
      background: #fff;
      border: solid 1px #DCDCDC;
      color: #000000;
      padding: 10px 28px;
      letter-spacing: 1.7px;
      &::-webkit-input-placeholder,
      &::placeholder {
        color: #BBBBBB;
      }
      @include SP {
        height: 40px;
        @include font(12);
        padding: 10px 15px;
        letter-spacing: 1.5px;
      }
    }
    
    textarea {
      width: 100%;
    }
    textarea {
      height: 160px;
      @include SP {
        height: 120px;
      }
    }
    .txt-hint {
      @include font(13);
      line-height: 21px;
      letter-spacing: 1.5px;
      font-weight: 500;
      margin-top: 10px;
      @include SP {
        @include font(12);
        line-height: 19px;
        margin-top: 7px;
      }
    }
    
    button {
      height: 60px;
      margin: 20px auto;
      padding: 0 100px;
      background: #eee;
    }

    em {
      width: 40px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      display: inline-block;
      border-radius: 12px;
      background: #F5BB1E;
      margin-right: 11px;
      font-style: normal;
      font-weight: 700;
      @include font(12);
      letter-spacing: 1.4px;
    }
  }

  .txtContact01 {
    @include SP {
      padding-left: 5px;
    }
    ul {
      text-align: center;
      @include SP {
        text-align: left;
      }
      li {
        @include font(15);
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 2.1px;
        @include SP {
          @include font(13);
          line-height: 21px;
          letter-spacing: 1.5px;
        }
        a {
          color: $blue01;
          text-decoration: underline;
          margin-right: 6px;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background: url($img_url + "img/contact/ico_blank.svg") no-repeat center center/100% auto;
            width: 8px;
            height: 8px;
            top: -5px;
            right: -8px;
            @include SP {
              top: -3px;
            }
          }
        }
      }
    }
  }

  .box-confirm {
    margin-top: 39px;
    @include SP {
      margin-top: 22px;
    }
    .check-confirm {
      text-align: center;
      label {
        position: relative;
        @include font(15);
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 1.8px;
        @include SP {
          @include font(14);
          line-height: 22px;
          letter-spacing: 1.7px;
        }
        input {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          &:checked {
            ~ span {
              &:after {
                display: block;
              }
            }
          }
        }
        span {
          position: relative;
          padding-left: 35px;
          &:before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: solid 1px #DCDCDC;
            left: 4px;
            top: -2px;
            @include SP {
              left: 3px;
            }
          }
          &:after {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 3px;
            background: #F5BB1E;
            left: 8px;
            top: 2px;
            display: none;
            @include SP {
              left: 7px;
            }
          }
        }
      }
    }
    .btn-confirm {
      #btnConfirm {
        margin: 0 auto;
        max-width: 300px;
        height: 60px;
        border-radius: 50px;
        @include SP {
          height: 50px;
        }
        span {
          transform: none;
          @include font(18);
          letter-spacing: 2px;
          left: 6px;
          @include SP {
            @include font(14);
          }
        }
      }
    }
    
  }

  // for step 2
  &.form-confirm {
    header {
      #logo a {
        pointer-events: none;
      }
    }
    .sec-form {
      margin-top: 183px;
      @include SP {
        margin-top: 97px;
        padding-top: 69px;
      }
      .form-block {
        @include PC {
          padding: 130px 100px 79px;
          @include max-screen(1000px) {
            padding-left: 30px;
            padding-right: 30px;
          }
          @include max-screen(900px) {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
        @include SP {
          padding-top: 38px;
        }
        .short-desc {
          margin-bottom: 31px;
          @include SP {
            margin-bottom: 8px;
            text-align: left;
            margin-top: 0;
            padding: 0;
            line-height: 24px;
          }
        }
      }
      .tableContact {
        margin-bottom: 20px;
        @include SP {
          margin-bottom: 15px;
        }
        tr {
          &:last-child {
            th, td {
              &:before, &:after {
                display: none;
              }
            }
          }
          @include SP {
            display: block;
            padding: 15px 0;
            position: relative;
            &:last-child {
              &:before, &:after {
                display: none;
              }
            }
            &:before {
              position: absolute;
              content: "";
              width: 80px;
              height: 1px;
              background: $blue01;
              bottom: 0;
              left: 0;
            }
            &:after {
              position: absolute;
              content: "";
              width: calc(100% - 85px);
              height: 1px;
              background: #DCDCDC;
              bottom: 0;
              right: 0;
            }
          }
        }
        th, td {
          position: relative;
          padding: 20px 20px 21px;
          margin-bottom: 0;
          @include font(15);
          line-height: 24px;
          @include SP {
            padding: 0;
            @include font(14);
          }
        }
        th {
          width: 250px;
          @include SP {
            width: 100%;
            margin-bottom: 4px;
          }
          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: $blue01;
            bottom: 0;
            left: 0;
            @include SP {
              display: none;
            }
          }
          &:after {
            position: absolute;
            content: "";
            width: 10px;
            height: 1px;
            background: #fff;
            bottom: 0;
            right: 0;
            z-index: 2;
            @include SP {
              display: none;
            }
          }
        }
        td {
          width: calc(100% - 250px);
          padding-left: 29px;
          letter-spacing: 1.7px;
          @include SP {
            width: 100%;
            padding-left: 0;
            margin-bottom: 2px;
          }
          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: #DCDCDC;
            bottom: 0;
            left: 0;
            @include SP {
              display: none;
            }
          }
        }
      }
      .list-btn {
        @include PC {
          @include flexbox;
          justify-content: center;
        }
        .btn-back {
          margin-right: 20px;
          @include SP {
            margin-bottom: 16px;
            margin-right: 0;
          }
          .txt-back {
            cursor: pointer;
            transition: all .3s;
            width: 300px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 50px;
            background: #CCCCCC;
            color: #fff;
            @include font(18);
            font-weight: 700;
            letter-spacing: 2px;
            @include HOVER {
              opacity: .7;
            }
            @include SP {
              width: 100%;
              @include font(14);
              letter-spacing: 1.6px;
              height: 50px;
              line-height: 50px;
            }
          }
        }
        .btn-send {

        }
        #btnSend {
          max-width: 300px;
          width: 300px;
          height: 60px;
          border-radius: 50px;
          @include SP {
            height: 50px;
            max-width: 100%;
            width: 100%;
          }
          span {
            transform: none;
            @include font(18);
            letter-spacing: 2px;
            left: 6px;
            @include SP {
              @include font(14);
            }
          }
        }
      }
    }
  }

  // for step 3
  &.form-thanks {
    .sec-form {
      margin-top: 183px;
      padding-top: 131px;
      @include SP {
        margin-top: 97px;
        padding-top: 75px;
      }
    }
    .thanks-main {
      text-align: center;
      &__ttl {
        @include font(34);
        line-height: 30px;
        font-weight: 700;
        letter-spacing: 4px;
        margin-bottom: 40px;
        @include SP {
          @include font(24);
          line-height: 36px;
          letter-spacing: 2.8px;
          margin-bottom: 17px;
        }
      }
      &__txt {
        @include font(18);
        line-height: 30px;
        font-weight: 500;
        letter-spacing: 2.2px;
        margin-bottom: 52px;
        @include SP {
          @include font(14);
          line-height: 26px;
          letter-spacing: 1.7px;
          margin-bottom: 32px;
        }
      }
      
      &__back {
        width: 300px;
        max-width: 300px;
        height: 60px;
        line-height: 58px;
        padding: 0;
        margin: 0 auto;
        border-radius: 50px;
        @include font(18);
        font-weight: 600;
        @include ffGT;
        text-transform: uppercase;
        @include HOVER {
          span {
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }
        @include SP {
          height: 50px;
          line-height: 48px;
          @include font(16);
        }
        span {
          position: relative;
          padding-left: 27px;
          letter-spacing: 1.2px;
          transform: none;
          @include SP {
            padding-left: 21px;
            letter-spacing: 0;
          }
          &:before {
            position: absolute;
            content: '';
            background: url($img_url + "img/contact/ico_home_w.svg") no-repeat center center/100% auto;
            width: 16px;
            height: 16px;
            left: 1px;
            top: 6px;
            transition: all .3s;
            @include SP {
              width: 13px;
              height: 13px;
              left: -1px;
              top: 8px
            }
          }
          &:after {
            position: absolute;
            content: '';
            background: url($img_url + "img/contact/ico_home.svg") no-repeat center center/100% auto;
            width: 16px;
            height: 16px;
            left: 1px;
            top: 6px;
            opacity: 0;
            transition: all .3s;
            @include SP {
              display: none;
            }
          }
        }
      }
    }
  }
}
