@charset "utf-8";
@import "../utility/*";
.page-form {
  // BASE ON FORM DEFAULT
  .errMsg {
    margin-left: 1em;
    padding-bottom: 1px;
    display: block;
    line-height: 1.4;
    text-indent: -0.9em;
  }
  .formError {
    padding-bottom: 13px;
    display: block;
  }
  .fixed {
    padding-bottom: 0px;
  }
  .formError .formErrorClose {
    border: solid #252525 2px;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    right: -4px;
    color: #efefef;
    background: #333;
    font-weight: bold;
    text-align: center;
    line-height: middle;
    cursor: pointer;
    z-index: 2;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px -1px 3px #888;
  }
  .formError .formErrorClose:hover {
    background: #666;
  }
  .fixed .formErrorClose {
    display: none;
  }
  .formError .formErrorContent {
    padding: 6px 10px;
    position: relative;
    color: #fff;
    background: #252525;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica,
      "ヒラギノ丸ゴ Pro W4", HiraMaruPro-W4, "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, Osaka, sans-serif;
    font-size: 11px;
    margin: 0 0;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0px 0px 6px #888;
  }
  .fixed .formErrorContent {
    margin-top: 0.5em;
    background: #f60;
    margin: 0 0 30px 0;
    border-radius: none;
    box-shadow: none;
  }
  .fadeOut {
    opacity: 0.2;
  }
  .hid_url {
    display: none;
  }
  // BASE ON FORM DEFAULT

  .form-block {
    background: #fff;
    border-radius: 30px;
    border: solid 1px #65B0D4;
    padding: 80px 80px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .tableContact {
    width: 100%;
    text-align: left;
    margin-bottom: 22px;
    td,
    th {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
    }
    th {
      width: 220px;
      @include font(15);
      line-height: 24px;
      letter-spacing: 1.8px;
      font-weight: 700;
      padding-top: 11px;
    }
    td {
      position: relative;
      width: calc(100% - 220px);

    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="url"] {
      width: 100%;
      height: 50px;
      border-radius: 25px;
      background: #fff;
      border: solid 1px #DCDCDC;
      color: #000000;
      padding: 10px 28px;
      letter-spacing: 1.7px;
      &::-webkit-input-placeholder,
      &::placeholder {
        color: #BBBBBB;
      }
    }
    
    textarea {
      width: 100%;
    }
    textarea {
      height: 160px;
    }
    .txt-hint {
      @include font(13);
      line-height: 21px;
      letter-spacing: 1.5px;
      font-weight: 500;
      margin-top: 10px;
    }
    
    button {
      height: 60px;
      margin: 20px auto;
      padding: 0 100px;
      background: #eee;
    }

    em {
      width: 40px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      display: inline-block;
      border-radius: 12px;
      background: #F5BB1E;
      margin-right: 11px;
      font-style: normal;
      font-weight: 700;
      @include font(12);
      letter-spacing: 1.4px;
    }
  }

  .txtContact01 {
    ul {
      text-align: center;
      li {
        @include font(15);
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 2.1px;
        a {
          color: #65B0D4;
          text-decoration: underline;
          margin-right: 6px;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background: url($img_url + "img/contact/ico_blank.svg") no-repeat center center/100% auto;
            width: 8px;
            height: 8px;
            top: -5px;
            right: -8px;
          }
        }
      }
    }
  }

  .box-confirm {
    margin-top: 39px;
    .check-confirm {
      text-align: center;
      label {
        position: relative;
        @include font(15);
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 1.8px;
        input {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          &:checked {
            ~ span {
              &:after {
                display: block;
              }
            }
          }
        }
        span {
          position: relative;
          padding-left: 35px;
          &:before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: solid 1px #DCDCDC;
            left: 4px;
            top: -2px;
          }
          &:after {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 3px;
            background: #F5BB1E;
            left: 8px;
            top: 2px;
            display: none;
          }
        }
      }
    }
    .btn-confirm {
      margin-top: 115px;
      #btnConfirm {
        margin: 0 auto;
        max-width: 300px;
        height: 60px;
        border-radius: 50px;
        span {
          transform: none;
          @include font(18);
          letter-spacing: 2px;
          left: 6px;
        }
      }
    }
    
  }

  // for step 2
  &.form-confirm {
    header {
      #logo a {
        pointer-events: none;
      }
    }
  }

  // for step 3
  &.form-thanks {
    .thanks-main {
      text-align: center;
      &__ttl {
        @include font(20, 1.5, 50, bold);
        margin-top: 40px;
      }
      &__txt {
        margin-top: 40px;
        @include font(16, 1.5);
      }
      &__mail {
        @include font(16, 1.5);
        margin-top: 10px;
      }
      &__back {
        margin-top: 40px;
      }
    }
  }
}
