@charset 'UTF-8';
@import "../utility/*";

.c-mainvisual {
    @include PC {
        padding-bottom: 81px;
    }
}

.short-desc {
    margin-top: 49px;
    @include font(18, 30, 120, 700);
    @include PC {
        @include max-screen(1440px) {
            padding-right: 8px;
        }
    }
}

.sec-anchor {
    .inner1170 {
        max-width: 1090px;
    }

    .lst-anchor {
        @include flexbox;
        @include flex-wrap(wrap);

        li {
            width: calc(240 / 1042 * 100%);
            margin-right: calc(24 / 1042 * 100%);
            @include PC {
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }

        a.c-btn01 {
            max-width: 100%;
            &.btn-anchor {
                span {
                    @include PC {
                        padding-left: 49px;
                    }
                }
            }
        }
    }
}

.c-wcm01 {
    padding: 0;
}

.c-secwrap {
    &.wrap-left {
        .c-gallery__main {
            @include PC {
                margin-left: 0;
            }
        }
        .c-gallery__thumb {
            margin: -94px -30px 0 auto;
        }
        .colctn-desc {
            .txt {
                @include PC {
                    letter-spacing: 0.05em;
                }
            }
        }
    }
    &.wrap-right {
        .c-gallery__main {
            @include PC {
                margin-right: 0;
            }
        }
        .c-gallery__thumb {
            margin-right: -30px;
        }
        .colctn-desc {
            .txt {
                @include PC {
                    letter-spacing: 0.06em;
                }
            }
        }

        .colctn-dl {
            dt {
                @include PC {
                    width: 102px;
                }
            }
        }

        .colctn-logo {
            @include PC {
                margin-top: 42px;
            }
        }
    }
    .c-secwrap__colslide {
        @include PC {
            width: calc(715 / 1340 * 100%) !important;
        }
    }
    .c-secwrap__colctn {
        @include PC {
            width: calc(545 / 1340 * 100%) !important;
            .colctn-inner {
                max-width: 460px !important;
            }
        }
    }
    .c-gallery__main {
        @include PC {
            padding-bottom: 27px;
        }
    }
    .c-gallery__thumb {
        max-width: 560px;
        width: calc(100% - 150px);
    }

    .gallery-pic {
        img {
            height: 478px;
        }
    }

    .colctn-desc {
        .txt {
            letter-spacing: 0.05em;
        }
    }

    .colctn-logo {
        margin: 39px 0 23px;
    }

    .colctn-dl {
        margin-top: 19px;
        padding: 13px 0 12px;
        position: relative;
        background:
            url($img_url + "img/common/ico_line01.png") repeat-x center top,
            url($img_url + "img/common/ico_line01.png") repeat-x center bottom;
        background-size: 15px 1px;
        @include font(16, 1.4, 120);
        display: flex;
        dt {
            font-weight: 700;
            flex-shrink: 0;
            width: 84px;
        }
        dd {
            width: 100%;
            padding-left: 10px;
            letter-spacing: 1px;
        }
    }

    .colctn-note {
        margin-top: 16px;
        line-height: 1.6;
        letter-spacing: 0.1em;
    }

    .c-btn03 {
        margin-top: 40px;
        max-width: 304px;
        background-color: #fff;
        & + .c-btn03 {
            margin-top: 12px;
        }
    }
    .colctn-link {
        display: inline-block;
        margin-top: 19px;
        @include font(16, 28, 100, 700);
        color: $blue01;
        padding-left: 24px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 20px;
            height: 20px;
            background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="%2365B0D4"/></svg>')
                center/contain no-repeat;
        }
    }
}

.sec-spa {
    padding: 101px 0 120px;
    .inner1170 {
        max-width: 1388px;
    }
}

.sec-dining {
    padding: 118px 0 136px;
    .inner1170 {
        max-width: 1388px;
    }
}

.c-bg-wave02 {
    background-color: #fdf7ed;
}

// .c-bg-wave03 {
//     position: relative;
//     z-index: 0;
//     background-color: #fdf7ed;
//     &::before,
//     &::after {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 1440px;
//         height: 90px;
//         background: #fff url($img_url + "img/groups/wave-bg03.png") top center/contain repeat-x;
//     }
//     &::after {
//         top: unset;
//         bottom: 0;
//         transform: scale(-1);
//     }
// }

.sec-accom {
    padding: 98px 0 77px;
    .inner1170 {
        max-width: 1388px;
    }

    .c-secwrap__colctn {
        @include PC {
            padding-top: 39px;
        }
    }

    .colctn-logo {
        @include PC {
            margin-top: 41px;
        }
    }

    .c-btn03 {
        @include PC {
            margin-top: 41px;
            max-width: 348px;
        }
    }
}

.sec-group {
    padding-bottom: 100px;
    .inner1170 {
        max-width: 1048px;
    }

    .c-ttl03 {
        margin-bottom: 25px;
    }

    .desc {
        p {
            @include font(16, 1.6, 0.035);
        }
        & + .sc4 {
            margin-top: 30px;
        }
    }

    .ulink {
        color: $blue01;
        text-decoration: underline;
    }

    .c-ttl05 {
        margin-bottom: 33px;
    }

    .c-ttl06{
        margin-bottom: 8px;
    }

    .c-ttl06-desc {
        padding-left: 20px;
        @include font(14, 1.4, 20, 700);
    }
}
