@charset 'UTF-8';
@import "../utility/*";

.c-mainvisual {
    @include PC {
        padding-bottom: 81px;
    }
}

.short-desc {
    margin-top: 49px;
    @include font(18, 30, 120, 700);
    @include PC {
        @include max-screen(1440px) {
            padding-right: 8px;
        }
    }
}

.sec-anchor {
    .inner1170 {
        max-width: 1090px;
    }

    .lst-anchor {
        @include flexbox;
        @include flex-wrap(wrap);

        li {
            width: calc(240 / 1042 * 100%);
            margin-right: calc(24 / 1042 * 100%);
            @include PC {
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }

        a.c-btn01 {
            max-width: 100%;
            &.btn-anchor {
                span {
                    @include PC {
                        padding-left: 49px;
                    }
                }
            }
        }
    }
}

.c-wcm01 {
    padding: 0;
}

.c-secwrap {
    &.wrap-left {
        .c-gallery__main {
            @include PC {
                margin-left: 0;
            }
        }
        .c-gallery__thumb {
            margin: -94px -30px 0 auto;
        }
        .colctn-desc {
            .txt {
                @include PC {
                    letter-spacing: 0.05em;
                }
            }
        }
    }
    &.wrap-right {
        .c-gallery__main {
            @include PC {
                margin-right: 0;
            }
        }
        .c-gallery__thumb {
            margin-right: -30px;
        }
        .colctn-desc {
            .txt {
                @include PC {
                    letter-spacing: 0.06em;
                }
            }
        }

        .colctn-dl {
            dt {
                @include PC {
                    width: 102px;
                }
            }
        }

        .colctn-logo {
            @include PC {
                margin-top: 42px;
            }
        }
    }
    .c-secwrap__colslide {
        @include PC {
            width: calc(715 / 1340 * 100%) !important;
        }
    }
    .c-secwrap__colctn {
        @include PC {
            width: calc(545 / 1340 * 100%) !important;
            .colctn-inner {
                max-width: 460px !important;
            }
        }
    }
    .c-gallery__main {
        @include PC {
            padding-bottom: 27px;
        }
    }
    .c-gallery__thumb {
        max-width: 560px;
        width: calc(100% - 150px);
    }

    .gallery-pic {
        img {
            height: 478px;
        }
    }

    .colctn-desc {
        .txt {
            letter-spacing: 0.05em;
        }
    }

    .colctn-logo {
        margin: 39px 0 23px;
    }

    .colctn-dl {
        margin-top: 19px;
        padding: 13px 0 12px;
        position: relative;
        background:
            url($img_url + "img/common/ico_line01.png") repeat-x center top,
            url($img_url + "img/common/ico_line01.png") repeat-x center bottom;
        background-size: 15px 1px;
        @include font(16, 1.4, 120);
        display: flex;
        dt {
            font-weight: 700;
            flex-shrink: 0;
            width: 84px;
        }
        dd {
            width: 100%;
            padding-left: 10px;
            letter-spacing: 1px;
        }
    }

    .colctn-note {
        margin-top: 16px;
        line-height: 1.6;
        letter-spacing: 0.1em;
    }

    .c-btn03 {
        margin-top: 40px;
        max-width: 304px;
        background-color: #fff;
        & + .c-btn03 {
            margin-top: 12px;
        }
    }
    .colctn-link {
        display: inline-block;
        margin-top: 19px;
        @include font(16, 28, 100, 700);
        color: $blue01;
        padding-left: 24px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 20px;
            height: 20px;
            background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="%2365B0D4"/></svg>')
                center/contain no-repeat;
        }
    }
}

.sec-spa {
    padding: 101px 0 142px;
    .inner1170 {
        max-width: 1388px;
    }
}

.sec-dining {
    padding: 96px 0 114px;
    background-color: #fdf7ed;
    .inner1170 {
        max-width: 1388px;
    }
}

// .c-bg-wave03 {
//     position: relative;
//     z-index: 0;
//     background-color: #fdf7ed;
//     &::before,
//     &::after {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 1440px;
//         height: 90px;
//         background: #fff url($img_url + "img/groups/wave-bg03.png") top center/contain repeat-x;
//     }
//     &::after {
//         top: unset;
//         bottom: 0;
//         transform: scale(-1);
//     }
// }

.sec-accom {
    padding: 120px 0 77px;
    .inner1170 {
        max-width: 1388px;
    }

    .c-secwrap__colctn {
        @include PC {
            padding-top: 39px;
        }
    }

    .colctn-logo {
        @include PC {
            margin-top: 41px;
        }
    }

    .c-btn03 {
        @include PC {
            margin-top: 41px;
            max-width: 348px;
        }
    }
}

.sec-group {
    padding-bottom: 140px;
    .inner1170 {
        max-width: 1048px;
    }

    .c-ttl03 {
        margin-bottom: 25px;
    }

    .desc {
        p {
            @include font(16, 1.6, 0.035);
        }
        & + .sc4 {
            margin-top: 30px;
        }
    }

    .ulink {
        color: $blue01;
        text-decoration: underline;
    }

    .c-ttl05 {
        margin-bottom: 33px;
        &.mb02 {
            margin-bottom: 24px;
        }
    }

    .c-ttl06 {
        margin-bottom: 8px;
    }

    .c-ttl06-desc {
        padding-left: 20px;
        @include font(14, 1.4, 20, 700);
        margin-bottom: 24px;
    }

    .sc4 {
        margin-bottom: 53px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .sc5 {
        margin-bottom: 33px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .utbl-scroll {
        @include SP {
            overflow: auto;
        }
    }

    .utbl-gr {
        min-width: 500px;
        display: block;
        thead,
        tbody,
        tr,
        th,
        td {
            display: block;
        }
        &.col3 {
            tr {
                grid-template-columns: 198px repeat(2, 1fr);
            }
        }
        &.col2 {
            tr {
                grid-template-columns: 198px 1fr;
            }
        }
        thead {
            th {
                border-radius: 4px;
                background-color: rgba($color: #000000, $alpha: 0.05);
                &:first-child {
                    background-color: #cdecfc;
                }
                &:last-child {
                }
            }
        }
        tbody {
            tr {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background: url($img_url + "img/common/ico_line01.png") repeat-x center/contain;
                    background-size: 15px 1px;
                }
            }
            th,
            td {
                padding: 13px 10px 12px;
            }
        }
        tr {
            position: relative;
            display: grid;
            grid-template-columns: 198px repeat(4, 1fr);
            gap: 0 2px;
        }
        th,
        td {
            @include font(16, 1.4, 120);
            text-align: center;
        }
        th {
            font-weight: 700;
            padding: 16px 10px 12px;
            &:first-child {
                color: $blue01;
            }
        }
        td {
        }

        .grid-4 {
            grid-column: 2 / span 4;
        }

        .utbl-laster {
            th {
                padding-top: 9px;
                padding-bottom: 10px;
            }
            td {
                padding-top: 10px;
                padding-bottom: 11px;
            }
        }

        .utbl-link {
            color: $blue01;
            font-weight: 700;
            display: inline-block;
            padding-left: 30px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 1px;
                bottom: 0;
                left: 6px;
                width: 20px;
                height: 20px;
                background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="%2365B0D4"/></svg>')
                    center/contain no-repeat;
            }
        }
    }

    .utbl-note {
        margin-top: 23px;
        li {
            position: relative;
            padding-left: 22px;
            @include font(14, 1.6, 120);
            &::before {
                content: "※";
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.sec-meeting {
    padding: 98px 0 100px;
    background-color: $gray02;

    .inner1170 {
        max-width: 1388px;
    }

    .c-secwrap.wrap-right {
        .colctn-desc {
            @include PC {
                margin-top: 40px;
                .txt {
                    letter-spacing: 0.045em;
                }
            }
        }
    }

    .c-secwrap__colctn {
        @include PC {
            padding-top: 80px;
        }
    }
    .c-wcm01 {
        margin-bottom: 74px;
    }
}

.room-cnt {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;

    .r-item {
        padding: 25px 24px 58px;
        position: relative;
        background:
            url($img_url + "img/common/ico_line01.png") repeat-x center top,
            url($img_url + "img/common/ico_line01.png") repeat-x center bottom;
        background-size: 15px 1px;
        @include PC {
            @include flexbox;
        }
    }
    .r-logo {
        @include PC {
            width: 192px;
            flex-shrink: 0;
            padding: 5px 30px 0 0;
        }
    }
    .r-cnt {
        width: 100%;
    }
    .r-head {
        margin-bottom: 31px;
    }
    .r-name {
        @include font(16, 1.84, 100, 700);
    }
    .r-adr {
        @include font(14, 1.84, 100);
        margin-bottom: 2px;
    }
    .r-map {
        @include font(14, 28, 100, 700);
        color: $blue01;
        display: inline-block;
        position: relative;
        padding-left: 24px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto 0;
            width: 20px;
            height: 20px;
            background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="%2365B0D4"/></svg>')
                center/contain no-repeat;
        }
    }
    .r-info {
        padding: 20px 32px 20px 20px;
        border-radius: 32px;
        box-shadow: 0 0 20px rgba($color: #002554, $alpha: 0.1);
        background-color: #fff;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        @include PC {
            @include flexbox;
        }
    }
    .r-img {
        @include aspect-ratio(328, 222);
        background-color: wheat;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include PC {
            width: 328px;
            flex-shrink: 0;
            margin-right: 24px;
        }
    }
    .img_c {
    }
    .r-txt {
        width: 100%;
        padding-top: 18px;
    }
    .c-ttl05 {
        @include font(18, 1.4, 100);
        margin-bottom: 15px;
        @include PC {
            padding-top: 1px;
        }
    }
    .r-tbl {
        dt,
        dd {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }
        dt {
            background:
                url($img_url + "img/common/ico_line01.png") repeat-x center top,
                url($img_url + "img/common/ico_line01.png") repeat-x center bottom;
            background-size: 15px 1px;
            padding: 10px 0 7px;
            margin-bottom: 17px;
            p {
                font-weight: 700;
            }
        }
        p {
            @include font(14, 1.1, 120);
        }
    }
}
