@charset 'UTF-8';
@import "../utility/*";

body {
  &::-webkit-scrollbar {
    width: 0;
  }
}
.g-wcm01 {
  // 1170px
  width: 100%;
  max-width: 1218px;
  padding: 0 24px;
  margin: 0 auto;
  @include SP {
    @include max-screen(375px) {
      padding: 0 calc(24 / 375 * 100vw);
    }
  }
}
.tit-box {
  margin-bottom: 42px;
  @include SP {
    margin-bottom: 21px;
  }
  .ttl01 {
    display: block;
    position: relative;
    padding-left: 36px;
    color: $blue01;
    font-weight: 700;
    @include font(18);
    line-height: 25px;
    letter-spacing: 2.1px;
    margin-bottom: 25px;
    @include SP {
      @include font(15);
      padding-left: 30px;
      letter-spacing: 1.9px;
      margin-bottom: 4px;
    }
    &:before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $yellow01;
      left: 0;
      top: 8px;
      @include SP {
        width: 10px;
        height: 10px;
        top: 9px;
      }
    }
    &:after {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $blue01;
      left: 12px;
      top: 8px;
      @include SP {
        width: 10px;
        height: 10px;
        top: 9px;
        left: 10px;
      }
    }
    .en & {
      text-indent: -9999px;
    }
  }
  strong {
    display: block;
    @include ffGT;
    font-weight: 600;
    @include font(45);
    line-height: 25px;
    letter-spacing: 2.2px;
    @include SP {
      @include font(30);
      line-height: 41px;
      letter-spacing: 1.5px;
    }
  }
}

.sec-mv {
  padding-top: 121px;
  padding: 92px 20px 117px;
  overflow: hidden;
  @include SP {
    padding-top: 88px;
    padding-bottom: 57px;
  }
  .content-sec {
    position: relative;
    max-width: 1274px;
    margin: 0 auto;
    z-index: 2;
  }
  .img-wave-blue {
    .en & {
      @include SP {
        top: 30px;
      }
    }
  }
  .img-wave-yellow {
    .en & {
      @include SP {
        top: 102px;
      }
    }
  }
  .img-item-1 {
    position: absolute;
    top: 80px;
    left: 0;
    transition: all 0.3s;
    @include PC {
      @include max-screen(1200px) {
        width: 200px;
      }
      @include max-screen(1000px) {
        width: 150px;
        top: 130px;
      }
      @include max-screen(900px) {
        top: 215px;
      }
    }
    @include SP {
      width: 88px;
      top: -83px;
      left: -5px;
    }
  }
  .img-item-2 {
    position: absolute;
    top: -75px;
    right: 15px;
    transition: all 0.3s;
    @include PC {
      @include max-screen(1200px) {
        width: 180px;
        right: 0;
      }
      @include max-screen(1000px) {
        width: 150px;
        top: -105px;
      }
    }
    @include SP {
      width: 73px;
      top: -90px;
      right: 6px;
    }
  }
  .tit-sec {
    position: relative;
    text-align: center;
    margin-bottom: 71px;
    @include SP {
      margin-bottom: 33px;
    }
    .en & {
      @include SP {
        margin-bottom: 48px;
      }
    }
    &:before {
      position: absolute;
      content: "";
      background: url($img_url + "img/guide/circle_gra.png") no-repeat center
        center/100% auto;
      width: 180px;
      height: 180px;
      left: 50%;
      margin-left: -90px;
      top: -36px;
      @include SP {
        width: 160px;
        height: 160px;
        margin-left: -80px;
        top: -20px;
      }
    }
    .en & {
      &:before {
        @include PC {
          top: -56px;
        }
        @include SP {
          top: -44px;
        }
      }
    }
    .ttl01 {
      display: block;
      @include font(18);
      font-weight: 700;
      color: $blue01;
      letter-spacing: 2.2px;
      margin-bottom: 14px;
      @include SP {
        @include font(15);
        line-height: 25px;
        letter-spacing: 1.8px;
        margin-bottom: 10px;
      }
    }
    strong {
      display: block;
      @include ffGT;
      @include font(50);
      font-weight: 600;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 5px;
      @include PC {
        @include max-screen(1200px) {
          @include font(45);
        }
      }
      @include SP {
        @include font(34);
        line-height: 41px;
        letter-spacing: 3.4px;
      }
    }
  }
  .desc {
    text-align: center;
    @include font(18);
    line-height: 30px;
    letter-spacing: 2.2px;
    font-weight: 700;
    @include SP {
      @include font(14);
      line-height: 28px;
      letter-spacing: 1.7px;
    }
    .en & {
      font-weight: 600;
      line-height: 160%;
      @include PC {
        letter-spacing: 0.02px;
      }
      @include SP {
        letter-spacing: 0;
      }
    }
  }
}

.sec-guide {
  padding: 120px 20px 140px;
  @include SP {
    padding: 72px 24px 64px;
  }
  // &:after {
  // 	position: absolute;
  // 	content: '';
  // 	bottom: 0;
  // 	left: 0;
  // 	background: url($img_url + "img/common/bg_wave_grey.png") repeat-x bottom left;
  // 	background-size: 100% auto;
  // 	width: 100%;
  // 	height: 450px;
  // 	@include SP {
  // 		background-image: url($img_url + "img/common/bg_wave_grey_sp.png");
  // 		height: 519px;
  // 	}
  // }
  .content-sec {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .row-guide {
    position: relative;
    &:last-child {
      margin-bottom: 0;
      &:before {
        display: none;
      }
    }
    @include PC {
      @include flexbox;
      align-items: center;
      margin-bottom: 100px;
    }
    @include SP {
      margin-bottom: 65px;
    }
    &:before {
      position: absolute;
      content: "";
      bottom: -103px;
      left: 50%;
      margin-left: -226px;
      background: url($img_url + "img/guide/line_1.png") no-repeat top left;
      background-size: 100% 100%;
      width: 453px;
      height: 103px;
      @include SP {
        background: url($img_url + "img/guide/line_2_sp.png") no-repeat top left;
        background-size: 100% 100%;
        width: 203px;
        height: 66px;
        bottom: -65px;
        margin-left: -102px;
      }
    }
    &.row-reverse {
      &:before {
        background-image: url($img_url + "img/guide/line_2.png");
        margin-left: -227px;
        @include SP {
          background: url($img_url + "img/guide/line_2_sp.png") no-repeat top
            left;
          background-size: 100% 100%;
          width: 203px;
          height: 66px;
          bottom: -65px;
          margin-left: -102px;
        }
      }
      .box-detail {
        position: relative;
        height: auto;
        mask-image: none;
        -webkit-mask-image: none;
        @include PC {
          padding-left: 20px;
          padding-right: 80px;
          width: calc(100% - 47.86%);
          @include max-screen(1100px) {
            padding-right: 40px;
          }
        }
      }
      .box-img {
        @include PC {
          padding: 0;
          width: 47.86%;
          height: 400px;
          -webkit-mask-image: url($img_url + "img/guide/img_mask.png");
          mask-image: url($img_url + "img/guide/img_mask.png");
          mask-size: 100% 100%;
          mask-repeat: no-repeat;
          mask-position: center;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .box-img {
      @include PC {
        width: 47.86%;
        height: 400px;
        -webkit-mask-image: url($img_url + "img/guide/img_mask.png");
        mask-image: url($img_url + "img/guide/img_mask.png");
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: center;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      @include SP {
        position: relative;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
    }
    .box-detail {
      position: relative;
      @include PC {
        width: calc(100% - 47.86%);
        padding-right: 20px;
        padding-left: 80px;
        @include max-screen(1100px) {
          padding-left: 40px;
        }
      }
    }

    .desc {
      font-weight: 500;
      @include font(16);
      line-height: 28px;
      letter-spacing: 1.6px;
      margin-bottom: 41px;
      @include SP {
        @include font(15);
        letter-spacing: 1.4px;
        margin-bottom: 24px;
      }
      .en & {
        letter-spacing: 0;
        font-weight: 500;
        line-height: 140%;
      }
      .cn & {
        font-weight: 400;
      }
      .ko & {
        font-weight: 400;
        @include PC {
          line-height: 200%;
        }
        @include SP {
          line-height: 180%;
          letter-spacing: 1.5px;
        }
      }
    }
    .c-btn01 {
      margin: 0;
      max-width: 200px;
      @include SP {
        max-width: 180px;
        .ko & {
          max-width: 120px;
        }
      }
    }
    .img-item-1 {
      position: absolute;
      top: -63px;
      right: 2px;
      img {
        width: 123px;
      }
    }
    .img-item-2 {
      position: absolute;
      bottom: -41px;
      right: -20px;
      img {
        width: 166px;
      }
      @include SP {
        bottom: auto;
        right: 9px;
        top: -76px;
        img {
          width: 126px;
        }
      }
    }
    .img-item-3 {
      position: absolute;
      bottom: -69px;
      right: 56px;
      img {
        width: 117px;
        @include PC {
          @include max-screen(900px) {
            width: 90px;
          }
        }
      }
      @include PC {
        @include max-screen(1000px) {
          right: 30px;
        }
      }
      @include SP {
        right: 14px;
        top: -68px;
        bottom: auto;
        img {
          width: 94px;
        }
      }
    }
    .img-item-4 {
      position: absolute;
      bottom: -85px;
      right: -9px;
      img {
        width: 143px;
      }
      @include SP {
        bottom: auto;
        top: -86px;
        right: 12px;
        img {
          width: 100px;
        }
      }
    }
    .img-item-5 {
      position: absolute;
      bottom: -75px;
      right: 35px;

      img {
        width: 258px;
        @include PC {
          @include max-screen(1100px) {
            width: 200px;
          }
          @include max-screen(900px) {
            width: 140px;
          }
        }
      }
      @include PC {
        @include max-screen(1100px) {
          bottom: -55px;
          right: 5px;
        }
      }
      @include SP {
        bottom: auto;
        top: -70px;
        right: -14px;
        img {
          width: 156px;
        }
      }
    }
  }
}

.mod-park {
  text-align: center;
  padding-top: 11px;
  padding-bottom: 155px;
  margin-bottom: 0;
  @include SP {
    padding-top: 63px;
    padding-bottom: 71px;
  }
  // .mod-park__inner {
  //   max-width: 1480px;
  //   padding: 0 20px;
  //   margin: 0 auto;
  //   @include SP {
  //     padding: 0 7px;
  //   }
  // }
  // .bnt01 {
  //   @include PC {
  //     @include min-screen(1300px) {
  //       top: 70px;
  //       left: 196px;
  //     }
  //   }
  //   @include SP {
  //     top: 206px;
  //     left: 20px;
  //   }
  // }
  // .bnt02 {
  //   @include PC {
  //     @include min-screen(1300px) {
  //       top: 70px;
  //       left: 439px;
  //     }
  //   }
  //   @include SP {
  //     top: 206px;
  //     left: 96px;
  //   }
  // }
  // .bnt03 {
  //   @include PC {
  //     @include min-screen(1300px) {
  //       top: 66px;
  //       left: 913px;
  //     }
  //   }
  //   @include SP {
  //     top: 196px;
  //     left: 240px;
  //   }
  // }
  // .bnt04 {
  //   @include PC {
  //     @include min-screen(1300px) {
  //       top: 424px;
  //       left: 695px;
  //     }
  //   }
  //   @include SP {
  //     top: 310px;
  //   }
  // }
  .content-mod {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    @include PC {
      margin-top: -169px;
      @include max-screen(1000px) {
        margin-top: -140px;
      }
      @include max-screen(900px) {
        margin-top: -120px;
      }
    }
    @include SP {
      margin-bottom: 7px;
    }
    .tit-box {
      text-align: left;
      @include SP {
        margin-bottom: 29px;
      }
    }
    .desc {
      text-align: left;
      @include font(18);
      line-height: 30px;
      font-weight: 700;
      letter-spacing: 2.2px;
      @include SP {
        @include font(14);
        line-height: 24px;
        letter-spacing: 1.7px;
      }
      .en & {
        letter-spacing: 0;
        font-weight: 600;
      }
      .ko & {
        line-height: 180%;
        @include PC {
          letter-spacing: 1.8px;
        }
        @include PC {
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
