@charset 'UTF-8';
@import "../utility/*";

.sec-mv {
	padding-top: 121px;
	padding: 115px 20px 117px;
	overflow: hidden;
	.content-sec {
		position: relative;
		max-width: 1274px;
		margin: 0 auto;
	}
	.img-wave-blue {
		position: absolute;
		top: -62px;
		left: 197px;
	}
	.img-wave-yellow {
		position: absolute;
		top: 223px;
		right: 186px;
	}
	.img-item-1 {
		position: absolute;
		top: 80px;
		left: 0;
	}
	.img-item-2 {
		position: absolute;
		top: -75px;
		right: 15px;
	}
	.tit-sec {
		position: relative;
		text-align: center;
		margin-bottom: 71px;
		&:before {
			position: absolute;
			content: "";
			background: url($img_url + "img/guide/circle_gra.png") no-repeat center center/100% auto;
			width: 180px;
			height: 180px;
			left: 50%;
			margin-left: -90px;
			top: -36px;
		}
		span {
			display: block;
			@include font(18);
			font-weight: 700;
			color: $blue01;
			letter-spacing: 2.2px;
			margin-bottom: 14px;
		}
		strong {
			display: block;
			@include ffGT;
			@include font(50);
			font-weight: 600;
			line-height: 1.5;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
	}
	.desc {
		text-align: center;
		@include font(18);
		line-height: 30px;
		letter-spacing: 2.2px;
		font-weight: 700;
	}
}

.sec-guide {
	padding: 120px 20px;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		background: url($img_url + "img/guide/bg_wave_yellow.png") repeat-x top left;
		background-size: 100% auto;
		width: 100%;
		height: 450px;
	}
	.content-sec {
		max-width: 1170px;
		margin: 0 auto;
		position: relative;
	}
	.row-guide {
		@include PC {
			@include flexbox;
			align-items: center;
			margin-bottom: 100px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.row-reverse {
			.box-left {
				@include PC {
					padding-left: 20px;
					padding-right: 80px;
					width: calc(100% - 47.86%);
				}
			}
			.box-right {
				@include PC {
					padding: 0;
					width: 47.86%;	
				}
			}
		}
		.box-left {
			@include PC {
				width: 47.86%;	
			}
		}
		.box-right {
			@include PC {
				width: calc(100% - 47.86%);
				padding-right: 20px;
				padding-left: 80px;
			}
		}
		.tit-box {
			margin-bottom: 42px;
			span {
				display: block;
				position: relative;
				padding-left: 36px;
				color: $blue01;
				font-weight: 700;
				@include font(18);
				line-height: 25px;
				letter-spacing: 2.1px;
				margin-bottom: 25px;
				&:before {
					position: absolute;
					content: '';
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: $yellow01;
					left: 0;
					top: 8px;
				}
				&:after {
					position: absolute;
					content: '';
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: $blue01;
					left: 12px;
					top: 8px;
				}
			}	
			strong {
				display: block;
				@include ffGT;
				font-weight: 600;
				@include font(45);
				line-height: 25px;
				letter-spacing: 2.2px;
			}
		}
		.desc {
			font-weight: 500;
			@include font(16);
			line-height: 28px;
			letter-spacing: 1.6px;
			margin-bottom: 41px;
		}
		.c-btn01 {
			margin: 0;
			max-width: 200px;
		}
		.img-item-1 {
			position: absolute;
			top: -23px;
			right: 2px;
		}
		.img-item-2 {
			position: absolute;
			bottom: -1px;
			right: -20px;
		}
	}
}