@charset 'UTF-8';
@import "../utility/*";

.sec-mv {
	padding-top: 121px;
	padding: 115px 20px 117px;
	overflow: hidden;
	.content-sec {
		position: relative;
		max-width: 1274px;
		margin: 0 auto;
	}
	.img-wave-blue {
		position: absolute;
		top: -62px;
		left: 197px;
	}
	.img-wave-yellow {
		position: absolute;
		@include PC {
			top: 223px;
			right: 186px;	
			@include max-screen(1000px) {
				right: 56px;
			}
		}
	}
	.img-item-1 {
		position: absolute;
		top: 80px;
		left: 0;
		transition: all .3s;
		@include PC {
			@include max-screen(1200px) {
				width: 200px;
			}
			@include max-screen(1000px) {
				width: 150px;
				top: 130px;
			}
			@include max-screen(900px) {
				top: 215px;
			}
		}
	}
	.img-item-2 {
		position: absolute;
		top: -75px;
		right: 15px;
		transition: all .3s;
		@include PC {
			@include max-screen(1200px) {
				width: 180px;
				right: 0;
			}
			@include max-screen(1000px) {
				width: 150px;
				top: -105px;
			}
		}
	}
	.tit-sec {
		position: relative;
		text-align: center;
		margin-bottom: 71px;
		&:before {
			position: absolute;
			content: "";
			background: url($img_url + "img/guide/circle_gra.png") no-repeat center center/100% auto;
			width: 180px;
			height: 180px;
			left: 50%;
			margin-left: -90px;
			top: -36px;
		}
		span {
			display: block;
			@include font(18);
			font-weight: 700;
			color: $blue01;
			letter-spacing: 2.2px;
			margin-bottom: 14px;
		}
		strong {
			display: block;
			@include ffGT;
			@include font(50);
			font-weight: 600;
			line-height: 1.5;
			text-transform: uppercase;
			letter-spacing: 5px;
			@include PC {
				@include max-screen(1200px) {
					@include font(45);
				}
			}
		}
	}
	.desc {
		text-align: center;
		@include font(18);
		line-height: 30px;
		letter-spacing: 2.2px;
		font-weight: 700;
	}
}

.sec-guide {
	padding: 120px 20px;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		background: url($img_url + "img/common/wave_bg.png") repeat-x top left;
		background-size: 100% auto;
		width: 100%;
		height: 450px;
	}
	.content-sec {
		max-width: 1170px;
		margin: 0 auto;
		position: relative;
	}
	.row-guide {
		@include PC {
			@include flexbox;
			align-items: center;
			margin-bottom: 100px;
			position: relative;
			&:last-child {
				margin-bottom: 0;
				&:before {
					display: none;
				}
			}
			&:before {
				position: absolute;
				content: '';
				bottom: -103px;
				left: 50%;
				margin-left: -226px;
				background: url($img_url + "img/guide/line_1.png") no-repeat top left;
				background-size: 100% 100%;
				width: 453px;
				height: 103px;
			}
		}
		&.row-reverse {
			&:before {
				background-image: url($img_url + "img/guide/line_2.png");
				margin-left: -227px;
			}
			.box-left {
				position: relative;
				height: auto;
				mask-image: none;
				-webkit-mask-image: none;
				@include PC {
					padding-left: 20px;
					padding-right: 80px;
					width: calc(100% - 47.86%);
					@include max-screen(1100px) {
						padding-right: 40px;
					}
				}
			}
			.box-right {
				@include PC {
					padding: 0;
					width: 47.86%;	
					height: 400px;
					-webkit-mask-image: url($img_url + "img/guide/img_shop.png");
	  			mask-image: url($img_url + "img/guide/img_shop.png");
	  			mask-size: 100% 100%;
				  mask-repeat: no-repeat;
				  mask-position: center;    
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
			}
		}
		.box-left {
			@include PC {
				width: 47.86%;	
				height: 400px;
				-webkit-mask-image: url($img_url + "img/guide/img_spa.png");
  			mask-image: url($img_url + "img/guide/img_spa.png");
  			mask-size: 100% 100%;
			  mask-repeat: no-repeat;
			  mask-position: center;    
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}
		.box-right {
			position: relative;
			@include PC {
				width: calc(100% - 47.86%);
				padding-right: 20px;
				padding-left: 80px;
				@include max-screen(1100px) {
					padding-left: 40px;
				}
			}
		}
		.tit-box {
			margin-bottom: 42px;
			span {
				display: block;
				position: relative;
				padding-left: 36px;
				color: $blue01;
				font-weight: 700;
				@include font(18);
				line-height: 25px;
				letter-spacing: 2.1px;
				margin-bottom: 25px;
				&:before {
					position: absolute;
					content: '';
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: $yellow01;
					left: 0;
					top: 8px;
				}
				&:after {
					position: absolute;
					content: '';
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: $blue01;
					left: 12px;
					top: 8px;
				}
			}	
			strong {
				display: block;
				@include ffGT;
				font-weight: 600;
				@include font(45);
				line-height: 25px;
				letter-spacing: 2.2px;
			}
		}
		.desc {
			font-weight: 500;
			@include font(16);
			line-height: 28px;
			letter-spacing: 1.6px;
			margin-bottom: 41px;
		}
		.c-btn01 {
			margin: 0;
			max-width: 200px;
		}
		.img-item-1 {
			position: absolute;
			top: -63px;
			right: 2px;
			img {
				width: 123px;
			}
		}
		.img-item-2 {
			position: absolute;
			bottom: -41px;
			right: -20px;
			img {
				width: 166px;
			}
		}
		.img-item-3 {
			position: absolute;
			bottom: -69px;
			right: 56px;
			@include PC {
				@include max-screen(1000px) {
					right: 30px;
				}
			}
			img {
				width: 117px;
				@include PC {
					@include max-screen(900px) {
						width: 90px;
					}
				}
			}
		}
		.img-item-4 {
			position: absolute;
			bottom: -85px;
			right: -9px;
			img {
				width: 143px;
			}
		}
		.img-item-5 {
			position: absolute;
			bottom: -75px;
			right: 35px;
			@include PC {
				@include max-screen(1100px) {
					bottom: -55px;
					right: 5px;
				}
			}
			img {
				width: 258px;
				@include PC {
					@include max-screen(1100px) {
						width: 200px;
					}
					@include max-screen(900px) {
						width: 140px;
					}
				}
			}
		}
	}
}