@charset 'UTF-8';
@import "../utility/*";

#wrap {
  overflow: hidden;
}
.c-mainvisual {
  @include PC {
    padding: 74px 0 72px;
  }
  @include SP {
   padding: 55px 0 51px;
    .img-wave-yellow {
      right: 34px;
      top: 95px;
    }
  }
}

.sec-anchor {
  padding: 0 0 160px;
  @include SP {
    padding: 0 0 56px;
  }
  .lst-anchor {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include SP {
      margin: 0 -7px;
    }
    li {
      width: 240px;
      margin: 0 12px 10px;
      a {
        max-width: 240px;
      }
      @include SP {
        width: 50%;
        margin: 0 0 16px;
        padding: 0 7px 0;
        a {
          max-width: 100%;
        }
      }
    }
  }
}

.sec-info01 {
  position: relative;
  background: #FDF7ED;
  padding: 43px 0 45px;
  @include SP {
    padding: 39px 0 41px;
  }
  .dercor01 {
    content: "";
    position: absolute;
    @include PC {
      width: 180px;
      height: 55px;
      left: 70px;
      top: 52%;
    }
    @include SP {
      display: none;
    }
  }
  .dercor02 {
    content: "";
    position: absolute;
    @include PC {
      width: 180px;
      height: 55px;
      right: -85px;
      top: 0%;
    }
    @include SP {
      display: none;
    }
  }
  .dercor03 {
    content: "";
    position: absolute;
    @include PC {
      width: 166px;
      height: 140px;
      left: 50%;
      top: 61%;
      margin-left: -351px;
    }
    @include SP {
      display: none;
    }
  }
  .img-wave-yellow {
    position: absolute;
    top: 41%;
    left: 50%;
    margin-left: -413px;
  }
  .block {
    @include PC {
      @include flexbox;
      @include flex-wrap(wrap);
      &__ttl {
        width: 40%;
        padding: 0 20px 0 0;
      }
      &__info {
        width: 60%;
      }
    }
    @include SP {
      &__info {
        margin: 42px 0 0;
      }
    }
  }
}
.sec-info02 {
  background-color: #fff;
  padding: 175px 0 196px;
  @include SP {
    padding: 89px 0 196px;
  }
  .inner1170 {
    max-width: 1045px;
  }
  .c-ttl02 {
    text-align: center;
  }
  .block01 {
    margin: 51px 0 0;
    @include SP {
      margin: 43px 0 0;
    }
    &__map {
      line-height: 1;
      position: relative;
      position: relative;
      -webkit-mask-image: url($img_url + "img/common/mask_bg11.png");
      mask-image: url($img_url + "img/common/mask_bg11.png");
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      iframe {
        width: 100%;
        height: 490px;
      }
      @include SP {
        iframe {
          height: 233px;
        }
      }
    }
    .block01_info {
      margin: 28px 0 0;
      @include SP {
        margin: 22px 0 0;
      }
      .ttl01 {
        @include font(16, 28, 0.1, 700);
      }
      .txt01 {
        @include font(16, 28, 0.1, 500);
        @include SP {
          @include font(15, 28);
          margin: 0 -2px 0 0;
        }
      }
      .btn01 {
        .c-btn01 {
          span {
            @include ffGT;
            @include font(15, 30, 0);
          }
        }
        @include SP {
          margin: 17px 0 0;
          .c-btn01 {
            max-width: 180px;
            span {
              @include font(14, 24);
            }
          }
        }
      }
      @include PC {
        @include flexbox;
        @include flex-wrap(wrap);
        .info01 {
          width: calc(100% - 200px);
          padding: 0 20px 0 0;
        }
        .btn01 {
          width: 200px;
          padding: 2px 0 0;
        }
      }
    }
  }
  .block02 {
    margin: 59px 0 0;
    @include SP {
      margin: 55px 0 0;
    }
    .img01 {
      margin: 30px 0 0;
      @include SP {
        margin: 55px 0 0;
      }
    }
  }
  .block03 {
    margin: 59px 0 0;
    .img01 {
      margin: 30px 0 0;
    }
  }
  .block04 {
    margin: 61px 0 0;
    .img01 {
      margin: 30px 0 0;
      img {
        border-radius: 10px;
      }
    }
  }
}
.sec-info03 {
  background-color: #F2F2F2;
  padding: 45px 0 148px;
  position: relative;
  .c-ttl02 {
    margin-bottom: 40px;
  }
  .desc01 {
    @include font(18, 34, 0.12, bold);
    margin-bottom: 19px;
  }
  .dercor01 {
    content: "";
    position: absolute;
    @include PC {
      width: 211px;
      height: 224px;
      right: 62px;
      top: -101px;
    }
    @include SP {
      width: 82px;
      height: 26px;
    }
  }
  .c-lstpost01 {
    margin-top: 20px;
    &__item {
       @include PC {
        width: calc(345 / 1170 * 100%);
        margin-right: calc(135 / 2 / 1170 * 100%);
        margin-top: 40px;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @include SP {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
      .access {
        @include font(14, 26, 0.12, 500);
        position: relative;
        padding: 11px 0 11px 44px;
        background: url($img_url + "img/common/ico_line01.png")repeat-x center top, url($img_url + "img/common/ico_line01.png")repeat-x center bottom;
        background-size: 15px 1px;
        &:before {
          content: "";
          position: absolute;
          top: 13px; left: 8px;
          background: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='6.13938' cy='6.74346' rx='6.13938' ry='6.24346' fill='black'/%3E%3Cpath d='M8.7945 6.12949H6.63616V4.03433C6.63616 3.64863 6.31404 3.33594 5.91671 3.33594C5.51939 3.33594 5.19727 3.64863 5.19727 4.03433V6.82788C5.19727 7.21357 5.51939 7.52626 5.91671 7.52626H8.7945C9.19183 7.52626 9.51395 7.21357 9.51395 6.82788C9.51395 6.44218 9.19183 6.12949 8.7945 6.12949Z' fill='%23F2F2F2'/%3E%3Cpath d='M18.9771 15.8235C19.9018 15.8235 20.6515 15.0611 20.6515 14.1207C20.6515 13.1803 19.9018 12.418 18.9771 12.418C18.0524 12.418 17.3027 13.1803 17.3027 14.1207C17.3027 15.0611 18.0524 15.8235 18.9771 15.8235Z' fill='black'/%3E%3Cpath d='M22.5291 17.8413C23.4778 16.8644 24.0004 15.5656 24.0004 14.184C24.0004 11.332 21.747 9.01172 18.9772 9.01172C16.2075 9.01172 13.9541 11.332 13.9541 14.184C13.9541 15.5656 14.4766 16.8644 15.4254 17.8413L17.861 20.3635L18.4191 21.4986H18.9772L22.5291 17.8413ZM16.009 14.1841C16.009 12.4988 17.3406 11.1278 18.9772 11.1278C20.6139 11.1278 21.9454 12.4988 21.9454 14.1841C21.9454 15.8693 20.6139 17.2404 18.9772 17.2404C17.3406 17.2404 16.009 15.8693 16.009 14.1841Z' fill='black'/%3E%3Cpath d='M13.1119 20.1055H10.2341C9.83677 20.1055 9.51465 20.4182 9.51465 20.8039C9.51465 21.1896 9.83677 21.5022 10.2341 21.5022H13.1119C13.5092 21.5022 13.8313 21.1896 13.8313 20.8039C13.8313 20.4182 13.5092 20.1055 13.1119 20.1055Z' fill='black'/%3E%3Cpath d='M5.20215 12.5829L5.20215 15.3211C5.20215 15.7252 5.50963 16.0527 5.88889 16.0527C6.26816 16.0527 6.57564 15.7252 6.57564 15.3211L6.57564 12.5829C6.57564 12.1788 6.26816 11.8513 5.88889 11.8513C5.50963 11.8513 5.20215 12.1788 5.20215 12.5829Z' fill='black'/%3E%3Cpath d='M18.6656 20.1055H15.7878C15.3905 20.1055 15.0684 20.4182 15.0684 20.8039C15.0684 21.1896 15.3905 21.5022 15.7878 21.5022H18.6656C19.0629 21.5022 19.385 21.1896 19.385 20.8039C19.385 20.4182 19.0629 20.1055 18.6656 20.1055Z' fill='black'/%3E%3Cpath d='M5.91671 17.3125C5.51939 17.3125 5.19727 17.6252 5.19727 18.0109V19.4062C5.19727 20.5615 6.1655 21.5014 7.35561 21.5014C7.75293 21.5014 8.07505 21.1887 8.07505 20.803C8.07505 20.4173 7.75293 20.1046 7.35561 20.1046C6.9589 20.1046 6.63616 19.7913 6.63616 19.4062V18.0109C6.63616 17.6252 6.31404 17.3125 5.91671 17.3125Z' fill='black'/%3E%3C/svg%3E%0A") 
          no-repeat center center/100% 100%;
          width: 24px; height: 22px;
        }
      }
      .ttl {
        @include font(18, 26, 0.12, bold);
        margin-top: 14px;
      }
      .desc {
        @include font(14, 26, 0.12, 500);
        margin-top: 14px;
      }
    }
    &-ctn02 {
      margin: 14px 0 0;
    }
  }
}

.sec-info04 {
  position: relative;
  padding: 123px 0 189px;
  margin: -30px 0 0;
  z-index: 2;
  .c-ttl02 {
    margin-bottom: 40px;
  }
  &:before {
    top: -74px;
    @include PC {
      background-image: url($img_url + "img/common/wave_bg04.png");
      height: 75px;
    }
    @include SP {
      background-image: url($img_url + "img/common/wave_bg04_sp.png");
      height: 75px;
    }
  }
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: no-repeat center center/cover;
    z-index: -1;
    @include PC {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
      -webkit-mask-repeat: repeat-x;
      mask-repeat: repeat-x;
      -webkit-mask-size: auto 100%;
      mask-size: auto 100%;
      -webkit-mask-image: url($img_url + "img/common/mask_bg09.png");
      mask-image: url($img_url + "img/common/mask_bg09.png");
      bottom: 228px;
      @include max-screen(1280px) {
        bottom: vw-pc(208px, 1280);
      }
    }
    @include SP {
      background-size: 100% 100%;
    }
  }
  .desc01 {
    color: #fff;
    text-align: center;
    @include font(18, 30, 0.12, 500);
    margin: 39px 0 57px;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}