@charset "utf-8";
@import "../utility/*";

// Common
.form-ttl {
  @include font(35, 45, 0.1, 700);
  text-align: center;
  color: $brown02;
  @include PC {
    margin-top: 73px;
  }
  @include SP {
    @include font(26, 36);
    margin-top: 37px;
  }
  .en & {
    letter-spacing: 0;
    font-weight: 600;
  }
}
.form-step {
  text-align: center;
  @include PC {
    margin-top: 42px;
  }
  @include SP {
    margin-top: 25px;
  }
}
.form-inner {
  @include PC {
    margin: 40px auto 0;
    max-width: 840px;
    .en {
      max-width: 878px;
    }
  }
  @include SP {
    margin-top: 24px;
  }
}
.short-desc {
  text-align: center;
  margin-top: 39px;
  @include font(16, 28, 0.1, 500);
  color: $brown02;
  @include SP {
    @include font(15, 26, 0.1, 500);
    margin-top: 24px;
  }
  .en & {
    letter-spacing: 0;
  }
}
.page-form {
  .c-breadcrumb {
    @include SP {
      margin-top: 0;
    }
    li {
      &:not(:last-child) {
        &:after {
          @include SP {
            margin: auto 2px 3px 8px;
          }
        }
      }
    }
  }
}
// Common
// Section Form
.page-form {
  .sec-form {
    @include PC {
      padding: 15px 0 100px;
    }
    @include SP {
      padding: 14px 0 64px;
    }
    .c-breadcrumb {
      padding: 0;
    }
  }
}
// Section Form
// Section Form Confirm
.page-form {
  .sec-formconfirm {
    @include PC {
      padding: 15px 0 100px;
    }
    @include SP {
      padding: 14px 0 64px;
    }
    .form-step {
      @include PC {
        margin-top: 75px;
      }
      @include SP {
        margin-top: 38px;
      }
    }
    .form-inner {
      @include PC {
        margin: 16px auto 0;
      }
      @include SP {
        margin-top: 12px;
      }
    }
  }
}
// Section Form Confirm
// Section Form Complete
.page-form {
  .sec-formcomplete {
    @include PC {
      padding: 15px 0 100px;
    }
    @include SP {
      padding: 14px 0 64px;
    }
    .form-step {
      @include PC {
        margin-top: 75px;
      }
      @include SP {
        margin-top: 40px;
      }
    }
    .form-inner {
      @include PC {
        margin: 48px auto 0;
        max-width: 850px;
      }
      @include SP {
        margin-top: 23px;
      }
    }
    .c-breadcrumb {
      padding: 0;
      li {
        &:not(:last-child) {
          &:after {
            @include SP {
              margin: auto 2px 3px 8px;
            }
          }
        }
      }
    }
    .thanks-main__txt {
      @include PC {
        margin-bottom: 32px;
      }
      @include SP {
        margin-bottom: 15px;
        letter-spacing: 0.1em;
      }
    }
    .thanks-main__back {
      border-radius: 0;
    }
  }
}
// Section Form Complete
