@charset 'UTF-8';
@import "../utility/*";
.c-keyvisual {
    @include PC {
        margin-bottom: 120px;
    }
    @include SP {
        margin-bottom: 56px;
    }
}

.sec-gallery {
    padding: 0 0 120px;
}

.gallery-anc {
    @include flexbox;
    @include flex-wrap(wrap);
    margin-bottom: 61px;
    @include SP {
        margin-bottom: 34px;
    }

    li {
        margin-right: 20px;
        min-height: 46px;
        @include PC {
            width: calc(180 / 1170 * 100%);
            margin-right: calc(18 / 1170 * 100%);
            margin-bottom: calc(18 / 1170 * 100%);
            &:nth-child(6n) {
                margin-right: 0;
            }
            @include max-screen(1023px) {
                margin-right: 15px;
                margin-bottom: 15px;
                width: calc((100% - 30px) / 3);
                &:nth-child(6n) {
                    margin-right: 15px;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }

        @include SP {
            width: calc((100% - 13px) / 2);
            margin-right: 13px;
            margin-bottom: 13px;
            min-height: 44px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    a {
        @include flexbox;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 8px 30px;
        width: 100%;
        height: 100%;
        border: 1px solid $yellow04;
        @include font(16, 28, 120, 700);
        position: relative;
        @include HOVER {
            opacity: 1;
            color: #fff;
            &::before {
                filter: brightness(0) invert(1);
            }
            &::after {
                width: 100%;
            }
        }
        @include PC {
            transition: all 0.3s ease;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: $yellow04;
                z-index: -1;
                transition: all 0.3s ease;
            }
            @include max-screen(1200px) {
                font-size: 15px;
            }
        }
        @include SP {
            padding: 7px 30px 7px 17px;
            @include font(14, 28, 120);
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 16px;
            width: 13px;
            height: 13px;
            margin: auto 0;
            background: url('data:image/svg+xml,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.04152 1.08312L7.04152 10.6089L9.90856 7.74183C9.95853 7.6901 10.0183 7.64883 10.0844 7.62044C10.1505 7.59205 10.2215 7.57711 10.2935 7.57649C10.3654 7.57586 10.4367 7.58957 10.5033 7.6168C10.5699 7.64404 10.6303 7.68426 10.6812 7.73512C10.7321 7.78598 10.7723 7.84645 10.7995 7.91302C10.8267 7.97959 10.8404 8.05092 10.8398 8.12284C10.8392 8.19476 10.8243 8.26584 10.7959 8.33193C10.7675 8.39801 10.7262 8.45778 10.6745 8.50775L6.88281 12.2994C6.78123 12.401 6.64348 12.458 6.49985 12.458C6.35622 12.458 6.21847 12.401 6.1169 12.2994L2.32523 8.50775C2.22656 8.40559 2.17196 8.26876 2.1732 8.12674C2.17443 7.98472 2.2314 7.84886 2.33183 7.74843C2.43226 7.648 2.56811 7.59103 2.71014 7.5898C2.85216 7.58857 2.98899 7.64316 3.09115 7.74183L5.95819 10.6089L5.95819 1.08312C5.95819 0.939465 6.01526 0.801689 6.11684 0.700107C6.21842 0.598524 6.3562 0.541456 6.49985 0.541456C6.64351 0.541456 6.78129 0.598524 6.88287 0.700107C6.98445 0.801689 7.04152 0.939465 7.04152 1.08312Z" fill="%23231816"/></svg>')
                center/contain no-repeat;
            transition: all 0.3s ease;
            @include SP {
                right: 11px;
                bottom: 1px;
            }
        }
    }
}

.gallery-post {
}

.gallery-item {
    margin-bottom: 79px;
    @include SP {
        margin-bottom: 32px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    .c-ttl03 {
        margin-bottom: 40px;
        padding-bottom: 12px;
        @include SP {
            padding-bottom: 17px;
            margin-bottom: 25px;
        }
        &::before,
        &::after {
            height: 1px;
        }
        &::before {
            width: 240px;
            background-color: $yellow04;
            @include SP {
                width: 100px;
            }
        }
        &::after {
            width: calc(100% - 250px);
            left: unset;
            right: 0;
            background-color: #dcdcdc;
            @include SP {
                width: calc(100% - 105px);
            }
        }
    }

    .gallery-ctn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 15px;
        @include SP {
            grid-template-columns: repeat(2, 1fr);
            gap: 25px 13px;
        }
        li {
            @include PC {
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            @include HOVER {
                opacity: 1;
                .img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .img {
            @include aspect-ratio(380, 280);
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease;
            }
        }

        h3 {
            @include font(14, 20, 100);
            margin-top: 20px;
            text-align: center;
            @include PC {
                @include max-screen(1023px) {
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
            @include SP {
                @include font(13, 1.5, 100);
                text-align: left;
                margin-top: 16px;
            }
        }
    }
}

.popup-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #231816, $alpha: 0.9);
    z-index: 9999;
    color: #fff;
    .pg-shawdo {
    }
    .pg-close {
    }
    .pg-wrap {
        width: 1072px;
        margin: 0 auto;
        padding: 48px 96px;
    }
    .pg-head {
        margin-bottom: 32px;
        @include SP {
            overflow: auto;
        }
        &-list {
            display: flex;
            li {
                @include font(14, 28, 120);
                color: #fff;
                padding: 5px 14px 5px 15px;
                border: 1px solid #fff;
                font-weight: 700;
                transition: all 0.3s ease;
                margin-right: 13px;
                &:not(.active) {
                    opacity: 0.4;
                }
                &.active {
                    border-color: $yellow04;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .pg-tab {
    }
    .pg-cnt {
    }
    .pg-sld {
        margin-bottom: 32px;
        .img {
            padding-top: (588 / 880) * 100%;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .pg-tt {
        margin-top: 16px;
        @include font(14, 20, 100);
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 44px;
        height: 44px;
        border: 1px solid #fff;
        &::after {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 10px;
            height: 12px;
            margin: auto;
        }
    }
    .swiper-button-prev {
        &::before {
            background: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_3083)"><path d="M11.4545 4.50614L1.86208 4.50614L4.7492 1.85964C4.8013 1.81352 4.84285 1.75835 4.87144 1.69735C4.90003 1.63634 4.91508 1.57073 4.9157 1.50435C4.91633 1.43796 4.90253 1.37212 4.87511 1.31067C4.84768 1.24922 4.80718 1.19339 4.75596 1.14645C4.70475 1.0995 4.64385 1.06237 4.57681 1.03723C4.50978 1.01209 4.43795 0.999443 4.36553 1.00002C4.2931 1.0006 4.22152 1.01439 4.15498 1.04059C4.08843 1.0668 4.02824 1.10489 3.97792 1.15264L0.159703 4.65264C0.0574451 4.74641 -2.19389e-07 4.87356 -2.30979e-07 5.00614C-2.4257e-07 5.13873 0.0574451 5.26588 0.159703 5.35964L3.97792 8.85964C4.0808 8.95072 4.21858 9.00112 4.3616 8.99998C4.50462 8.99884 4.64142 8.94626 4.74256 8.85355C4.84369 8.76085 4.90106 8.63544 4.9023 8.50434C4.90354 8.37325 4.84856 8.24694 4.7492 8.15264L1.86208 5.50614L11.4545 5.50614C11.5992 5.50614 11.7379 5.45347 11.8402 5.3597C11.9425 5.26593 12 5.13875 12 5.00614C12 4.87354 11.9425 4.74636 11.8402 4.65259C11.7379 4.55882 11.5992 4.50614 11.4545 4.50614Z" fill="white"/></g><defs><clipPath id="clip0_1_3083"><rect width="10" height="12" fill="white" transform="translate(1.19249e-07 10) rotate(-90)"/></clipPath></defs></svg>')
                center/contain no-repeat;
        }
    }
    .swiper-button-next {
        &::before {
            background: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_3086)"><path d="M0.54546 4.50614L10.1379 4.50614L7.2508 1.85964C7.1987 1.81352 7.15715 1.75835 7.12856 1.69735C7.09997 1.63634 7.08492 1.57073 7.0843 1.50435C7.08367 1.43796 7.09747 1.37212 7.12489 1.31067C7.15232 1.24922 7.19282 1.19339 7.24404 1.14645C7.29525 1.0995 7.35615 1.06237 7.42319 1.03723C7.49022 1.01209 7.56205 0.999443 7.63447 1.00002C7.7069 1.0006 7.77848 1.01439 7.84502 1.04059C7.91157 1.0668 7.97176 1.10489 8.02208 1.15264L11.8403 4.65264C11.9426 4.74641 12 4.87356 12 5.00614C12 5.13873 11.9426 5.26588 11.8403 5.35964L8.02208 8.85964C7.9192 8.95072 7.78142 9.00112 7.6384 8.99998C7.49538 8.99884 7.35858 8.94626 7.25744 8.85355C7.15631 8.76085 7.09894 8.63544 7.0977 8.50434C7.09646 8.37325 7.15144 8.24694 7.2508 8.15264L10.1379 5.50614L0.54546 5.50614C0.400794 5.50614 0.262055 5.45347 0.159761 5.3597C0.0574669 5.26593 -5.91853e-07 5.13875 -6.03446e-07 5.00614C-6.15039e-07 4.87354 0.0574668 4.74636 0.159761 4.65259C0.262055 4.55882 0.400794 4.50614 0.54546 4.50614Z" fill="white"/></g><defs><clipPath id="clip0_1_3086"><rect width="10" height="12" fill="white" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 12 10)"/></clipPath></defs></svg>')
                center/contain no-repeat;
        }
    }
    .pg-thumb {
        @include SP {
            overflow: hidden;
        }
        &-sc {
        }

        // .swiper-slide {
        //     width: 112px;
        // }
    }
}
