@charset 'UTF-8';
@import "../utility/*";

.cui-thumb01 {
  img {
    width: 100%;
  }
}

.c-keyvisual {
  @include PC {
    margin-bottom: 50px;
  }
  @include SP {
    margin-bottom: 43px;
  }
}

.sec-tabs {
  @include PC {
    margin-bottom: 50px;
  }
  @include SP {
    margin-bottom: 43px;
  }
}
.tabs-list {
  @include flexbox;
  @include flex-wrap;
  @include PC {
    @include justify-content(center);
  }
  @include SP {
    @include justify-content(space-between);
  }
  & > li {
    @include PC {
      width: 320px;
      margin: 10px 20px;
    }
    @include SP {
      width: calc(50% - 4.5px);
      margin: 5px 0;
    }
  }
  .tab-item {
    background: #fff;
    @include font("", "", 100, 700);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    padding: 5px 10px;
    color: $brown02;
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
    @include PC {
      min-height: 60px;
      @include font(18, 20);
    }
    @include SP {
      min-height: 50px;
      @include font(16, 20);
    }
    &.is-current {
      color: #fff;
      &::before {
        @include PC {
          transform: translateX(0);
        }
        @include SP {
          opacity: 1;
        }
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: 0.5s ease;
    }
    &::after {
      border: 1px solid $brown02;
      background: #fff;
    }
    &::before {
      background: #b2a46f;
      z-index: 1;
      @include PC {
        transform: translateX(-110%);
      }
      @include SP {
        opacity: 0;
      }
    }
    span {
      position: relative;
      z-index: 2;
    }
    @include HOVER {
      opacity: 1;
      color: #fff;
      &::before {
        transform: translateX(0);
      }
    }
    h2 {
      font-weight: inherit;
    }
  }
}

.sec-cuisine {
  color: $brown02;
  background: repeat-x 0 0/50px auto;
  overflow: hidden;
  @include PC {
    padding: 100px 0 50px;
  }
  @include SP {
    padding: 56px 0 44px;
  }
  .cuisine-ttl {
    text-align: center;
    @include font("", "", 100, 700);
    @include PC {
      margin-bottom: 30px;
      @include font(35, 50);
    }
    @include SP {
      margin-bottom: 16px;
      @include font(24, 36);
    }
    @include ANDR {
      @include font(20);
    }
  }
  .cuisine-desc {
    @include font("", "", 100);
    text-align: center;
    @include PC {
      margin-bottom: 80px;
      @include font(18, 34);
    }
    @include SP {
      @include font(15, 26);
      margin: 0 -2px 57px;
    }
    @include ANDR {
      @include font(13);
    }
  }
  .cuisine-list {
    @include PC {
      margin-bottom: 128px;
    }
    @include SP {
      margin-bottom: 56px;
    }
    &:last-child {
      @include PC {
        margin-bottom: 50px;
      }
      @include SP {
        margin-bottom: 20px;
      }
    }
  }
  .cuisine-item {
    @include font("", "", 100);
    @include PC {
      margin-top: -79px;
      @include flexbox;
      @include justify-content(space-between);
      @include font(16, 28);
    }
    @include SP {
      @include font(15, 28);
      margin-bottom: 49px;
    }
    &:first-child {
      @include PC {
        margin-top: 0;
        .cuisine-info {
          padding-top: 0;
          margin-top: -2px;
        }
      }
    }
    &:last-child {
      @include PC {
        .cuisine-info {
          padding-bottom: 0;
        }
      }
      @include SP {
        margin-bottom: 0;
      }
    }
    &:nth-child(2n) {
      @include PC {
        @include flex-direction(row-reverse);
        .cuisine-img {
          margin: 0 0 0 -35px;
        }
        .cuisine-info {
          margin-right: 24px;
          margin-left: 30px;
        }
      }
    }
  }
  .cuisine-img {
    @include PC {
      width: 530px;
      min-height: 420px;
      margin-right: -35px;
    }
    @include SP {
      @include aspect-ratio(327, 267);
      margin-bottom: 32px;
    }
  }
  .cuisine-info {
    @include PC {
      width: 550px;
      max-width: 550px;
      padding-bottom: 178px;
      margin: 177px 30px 0 0;
    }
  }
  .cuisine-txt {
    @include SP {
      margin-right: -3px;
    }
  }
  .c-ttl04 {
    @include PC {
      margin-bottom: 41px;
    }
    @include SP {
      margin-bottom: 26px;
    }
  }
  .cuisine-wrapper {
    @include PC {
      max-width: 1000px;
      margin: 0 auto 42px;
    }
    @include SP {
      margin-bottom: 20px;
    }
  }
  .cuisine-head {
    @include PC {
      margin-bottom: 40px;
      @include flexbox;
      @include align-items(flex-start);
      @include justify-content(space-between);
    }
    @include SP {
      margin-bottom: 24px;
    }
  }
  .cuisine-logo {
    @include PC {
      width: 253px;
      margin-top: -8px;
    }
    @include SP {
      width: 202px;
      margin: 0 auto 24px;
    }
  }
  .cuisine-summary {
    letter-spacing: 0.1em;
    @include PC {
      width: 600px;
      max-width: 600px;
      @include font(16, 28);
      margin-left: 30px;
    }
    @include SP {
      @include font(15, 28);
    }
  }
  .cuisine-group {
    @include PC {
      @include flexbox;
      @include align-items(flex-start);
      margin-top: 40px;
    }
    @include SP {
      margin-top: 32px;
    }
  }
  .cuisine-time {
    @include font(15, 24, 120);
    @include PC {
      @include flexbox;
      @include flex-wrap;
      @include flex(1);
    }
    @include SP {
      margin-bottom: 26px;
    }
    dt,
    dd {
      @include PC {
        margin-bottom: 9px;
      }
    }
    dt {
      font-weight: 700;
      @include PC {
        width: 100px;
      }
      @include SP {
        margin-bottom: 2px;
      }
    }
    dd {
      @include PC {
        width: calc(100% - 100px);
      }
      @include SP {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .c-btn04 {
    @include PC {
      margin-top: 5px;
    }
    @include SP {
      margin: 0 auto;
    }
  }

  .c-gallery__main {
    @include PC {
      padding-bottom: 66px;
      @include max-screen(1200px) {
        padding-bottom: calc(66 / 1200 * 100vw);
      }
    }
    @include SP {
      padding-bottom: 25px;
    }
  }
  .swiper-group {
    @include PC {
      right: 0;
      left: auto;
    }
    @include SP {
      bottom: 0;
    }
  }
  .c-gallery__thumb {
    @include PC {
      max-width: 620px;
      width: calc(100% - 380px);
      margin: -106px 0 auto 40px;
      @include max-screen(1200px) {
        width: calc(100% - 380 / 1200 * 100vw);
        margin: calc(-106 / 1200 * 100vw) 0 auto calc(40 / 1200 * 100vw);
      }
    }
    @include SP {
      max-width: 620px;
      width: calc(100% - 61px);
      margin: -44px -24px 0 auto;
    }
  }
  .gallery-pic {
    @include PC {
      padding-top: calc(450 / 1000 * 100%);
    }
    @include SP {
      @include aspect-ratio(327, 230);
    }
  }
  .thumb-pic {
    @include PC {
      padding-top: calc(100 / 140 * 100%);
    }
    @include SP {
      @include aspect-ratio(84, 60);
    }
  }

  .tab-wrapper {
    position: relative;
  }
  .tab-content {
    position: absolute;
    left: -999999999px;
    width: 100%;
    visibility: hidden;
    &.is-current {
      position: static;
      left: auto;
      visibility: visible;
    }
  }
  .swiper-progress-bar {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
    height: 1px;
    .slide-progress-bar {
      position: absolute;
      height: 1px;
      background: #ddd;
      width: auto;
      clear: both;
      opacity: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        background: $brown02;
        height: 100%;
        width: 0;
        content: "";
        transition: 0.1s width linear;
      }
    }
    &.active {
      .slide-progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide-progress-bar {
        &::after {
          transition: width linear;
          transition-delay: unset;
          width: 100%;
          transition-duration: 5s;
        }
      }
    }
  }
}
