@charset 'UTF-8';
@import "../utility/*";

// Common
.ishinoya {
  #wrap02 {
    padding-top: 0;
  }
}

.i-wcm01 {
  // 1170px
  width: 100%;
  max-width: 1218px;
  padding: 0 24px;
  margin: 0 auto;
  @include SP {
    @include max-screen(375px) {
      padding: 0 calc(24 / 375 * 100vw);
    }
  }
}
.i-bg {
  background: #fff;
}
.i-ttl01 {
  .i-ttl01__jp {
    @include font(20, 25, 0.05, 700);
    color: $yellow04;
  }
  .i-ttl01__en {
    @include ffGT;
    @include font(60, 60, 0, 500);
    margin-top: 17px;
    color: $brown02;
  }
}
// Common
// Section Mainvisual
.sec-mv {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
}
.mv-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.mv-ctn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include PC {
    padding-bottom: 120px;
  }
  @include SP {
    padding-bottom: 151px;
  }
}

.mv-ttl {
  position: relative;
  @include font(70, 101, 0.12, 700);
  color: #fff;
  width: 100%;
  transform: translate3d(0, 40px, 0);
  opacity: 0;
  transition: all 0.3s ease;
  @include PC {
    padding: 0 0 59px 120px;
    max-width: 748px;
    @include max-screen(1440px) {
      font-size: calc(70 / 1440 * 100vw);
      padding: 0 0 calc(59 / 1440 * 100vw) calc(120 / 1440 * 100vw);
      max-width: calc(748 / 1440 * 100vw);
    }
  }
  @include SP {
    @include font(36, 56);
    padding: 0 24px 35px;
    max-width: 375px;
    margin: 0 auto;
    @include max-screen(375px) {
      font-size: calc(36 / 375 * 100vw);
      padding: 0 calc(24 / 375 * 100vw) calc(35 / 375 * 100vw);
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 1) 100%
    );
    width: 0;
    transition: all 0.3s ease;
    transition-delay: 0.5s;
  }
  .row {
    display: block;
  }
}
.mv-scrolldown {
  position: absolute;
  @include ffGT;
  @include font(15, 20, 0, 500);
  color: #fff;
  @include PC {
    padding-right: 57px;
    right: 100px;
    bottom: 106px;
    @include max-screen(1440px) {
      right: calc(100 / 1440 * 100vw);
      bottom: calc(106 / 1440 * 100vw);
      font-size: calc(15 / 1440 * 100vw);
      padding-right: calc(57 / 1440 * 100vw);
    }
  }
  @include SP {
    padding-bottom: 51px;
    right: calc(50% - 40px);
    bottom: 0;
  }
  .circle {
    display: block;
    position: absolute;
    width: 72px;
    height: 72px;
    // border-radius: 100%;
    // background-color: rgba(255, 255, 255, 0.15);
    // animation: scrolldow 1.5s ease-in-out infinite;
    @include PC {
      right: 0;
      top: calc(50% - 36px);
      @include max-screen(1440px) {
        width: calc(72 / 1440 * 100vw);
        height: calc(72 / 1440 * 100vw);
        top: calc(50% - (36 / 1440 * 100vw));
      }
    }
    @include SP {
      right: calc(50% - 35px);
      bottom: -36px;
    }
    &::before {
      content: "";
      position: absolute;
      border-radius: 100%;
      background-color: #fff;
      @include PC {
        width: 6px;
        height: 6px;
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        @include max-screen(1440px) {
          width: calc(6 / 1440 * 100vw);
          height: calc(6 / 1440 * 100vw);
          top: calc(50% - (3 / 1440 * 100vw));
          left: calc(50% - (3 / 1440 * 100vw));
        }
      }
      @include SP {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.15);
      transform: translate3d(-50%, -50%, 0);
      transition: all 0.3s ease;
    }
  }
}
.is-loaded {
  .mv-ttl {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    &::before {
      @include PC {
        width: calc(100% - 9px);
        @include max-screen(1440px) {
          width: calc(100% - (9 / 1440 * 100vw));
        }
      }
      @include SP {
        width: calc(100% - 34px);
        @include max-screen(375px) {
          width: calc(100% - (34 / 375 * 100vw));
        }
      }
    }
  }
}
// Section Mainvisual
// Section News
.sec-news {
  position: relative;
  padding: 119px 0 200px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% + 167px);
    height: 100%;
    background: url($img_url + "img/ishinoya/news_bg.jpg");
    background-repeat: repeat;
    background-color: transparent;
    background-position: center;
    background-size: 887px 693px;
    z-index: 1;
  }
  .i-wcm01 {
    position: relative;
    z-index: 2;
  }
}
.new-wrap {
  @include flexbox;
  @include justify-content(space-between);
}
.new-wrap__colttl {
  width: calc(180 / 1170 * 100%);
  margin-right: 20px;
}
.new-wrap__colpost {
  position: relative;
  display: block;
  width: calc(880 / 1170 * 100%);
  overflow: hidden;
  padding-top: 1px;
}
.new-slide {
  .swiper-info {
    @include flexbox;
    margin-top: 49px;
  }
  .swiper-progress {
    flex: 1;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    padding-bottom: 4px;
    .line {
      position: relative;
      width: 100%;
      height: 1px;
      background: #dddddd;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $brown02;
        transition: all 10s ease;
      }
      &.is-active {
        &::before {
          animation: progressLine 10s linear forwards;
        }
      }
    }
  }
  .info-page {
    width: 105px;
    text-align: right;
    margin-right: -1px;
    .current {
      @include ffGT;
      @include font(20, 28, 0.1, 400);
      color: $brown02;
    }
    .slash,
    .total {
      @include ffGT;
      @include font(12, 28, 0.1, 400);
      color: $brown02;
      opacity: 0.5;
    }
  }
}
.new-slide__lst {
  .item-slide {
  }
  .post-link {
    display: block;
    @include HOVER {
      opacity: 1;
      .post-thumb {
        img {
          animation: imageHover 1.2s linear;
        }
      }
    }
  }
  .post-thumb {
    position: relative;
    overflow: hidden;
    background: #fff;
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .post-ctn {
  }
  .post-info {
    margin-top: 20px;
    .date {
      display: inline-block;
      @include ffGT;
      @include font(14, 15, 0.05, 600);
      color: $yellow04;
    }
    .cate {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      margin: -5px 0 0 3px;
      .item {
        display: inline-block;
        @include font(12, 15, 0.05, 700);
        margin: 4px 0 0 4px;
        color: $brown02;
      }
    }
  }
  .post-ttl {
    @include font(16, 26, 0.12, 700);
    margin-top: 10px;
    color: $brown02;
  }
}
.new-btn {
  margin-top: -39px;
  .c-btn04 {
    max-width: 156px;
  }
}
@keyframes progressLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// Section News
