@charset 'UTF-8';
@import "../utility/*";

// Common
.ishinoya {
  #wrap02 {
    padding-top: 0;
  }
}

.i-wcm01 {
  // 1170px
  width: 100%;
  max-width: 1218px;
  padding: 0 24px;
  margin: 0 auto;
  @include SP {
    @include max-screen(375px) {
      padding: 0 calc(24 / 375 * 100vw);
    }
  }
}
.i-wcm02 {
  // 1440px
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  @include SP {
    @include max-screen(375px) {
      padding: 0 calc(24 / 375 * 100vw);
    }
  }
}
.i-bg {
  background: #fff;
}
.i-ttl01 {
  .i-ttl01__jp {
    @include font(20, 25, 0.05, 700);
    color: $yellow04;
  }
  .i-ttl01__en {
    @include ffGT;
    @include font(60, 60, 0, 500);
    margin-top: 17px;
    color: $brown02;
  }
}
// Common
// Common Slide

.i-gallery__main {
  position: relative;
  @include PC {
    overflow: hidden;
    padding-bottom: 64px;
    margin-right: 40px;
    @include PC {
      @include max-screen(1200px) {
        padding-bottom: calc(64 / 1200 * 100vw);
        margin-right: calc(40 / 1200 * 100vw);
      }
    }
  }
  .gallery-pic {
    @include PC {
      padding-top: calc(440 / 625 * 100%);
    }
    @include SP {
      @include aspect-ratio(327, 230);
    }
  }

  .gallery-wrapper {
    position: relative;
    @include SP {
      overflow: hidden;
    }
  }
  .gallerySwiper-prev,
  .gallerySwiper-next {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    cursor: none;
  }
  .cursor {
    position: fixed;
    z-index: 1;
    width: 60px;
    height: 60px;
    border: solid 1px rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2.5px);
    top: -100px;
    pointer-events: none;
    .txt {
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      height: 100%;
      @include ffGT;
      @include font(14, "", 0, 500);
      color: #fff;
    }
  }
  .gallerySwiper-prev {
    left: 0;
  }
  .gallerySwiper-next {
    right: 0;
  }
  .swiper-wrapper {
    height: auto;
  }
  .swiper-group {
    position: absolute;
    @include PC {
      width: 178px;
      left: 0;
      bottom: 0;
      padding: 0 0 20px 78px;
      @include max-screen(1200px) {
        width: calc(178 / 1200 * 100vw);
        padding: calc(0 / 1200 * 100vw) calc(0 / 1200 * 100vw)
          calc(20 / 1200 * 100vw) calc(78 / 1200 * 100vw);
      }
    }
    @include SP {
      left: 0;
      bottom: vw-sp(-25px);
      width: 85px;
    }
  }
  .gallerySwiper-pagination {
    position: absolute;
    left: 0;
    top: -13px;
    bottom: auto;
    @include ffGT;
    @include font(12, 1.5, 100, 400);
    color: #9f9b9a;
    width: auto;
    transform: none;
    white-space: nowrap;
    @include PC {
      @include max-screen(1200px) {
        top: calc(-13 / 1200 * 100vw);
        font-size: calc(12 / 1200 * 100vw);
      }
    }
  }
  .swiper-pagination-current {
    @include font(20, 28, 100);
    color: $brown02;
    padding-right: 2px;
    display: inline-block;
    @include PC {
      min-width: 32px;
      @include max-screen(1200px) {
        font-size: calc(20 / 1200 * 100vw);
        min-width: calc(32 / 1200 * 100vw);
        padding-right: calc(2 / 1200 * 100vw);
      }
    }
    @include SP {
      min-width: 29px;
    }
  }
  .gallerySwiper-progress-bar {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
    height: 1px;
    .slide-progress-bar {
      position: absolute;
      height: 1px;
      background: #ddd;
      width: auto;
      clear: both;
      opacity: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        background: $brown02;
        height: 100%;
        width: 0;
        content: "";
        transition: 0.1s width linear;
      }
    }
    &.active {
      .slide-progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide-progress-bar {
        &::after {
          transition: width linear;
          transition-delay: unset;
          width: 100%;
          transition-duration: 5s;
        }
      }
    }
  }
}
.i-gallery__thumb {
  overflow: hidden;
  @include PC {
    max-width: 460px;
    width: calc(100% - 190px);
    margin: -90px 0 0 auto;
    @include max-screen(1200px) {
      max-width: calc(460 / 1200 * 100vw);
      width: calc(100% - (190 / 1200 * 100vw));
      margin: calc(-90 / 1200 * 100vw) 0 0 auto;
    }
  }
  @include SP {
    margin: vw-sp(-19px) -24px 0 85px;
    @include max-screen(375px) {
      margin-right: calc(-24 / 375 * 100vw);
    }
  }
  .thumb-pic {
    @include PC {
      padding-top: calc(100 / 140 * 100%);
    }
    @include SP {
      @include aspect-ratio(84, 60);
    }
  }
}
.i-wrap {
  @include PC {
    @include flexbox;
    @include justify-content(space-between);
  }
  @include SP {
    margin-top: 25px;
  }
  &.wrap-right {
    .i-wrap__colslide {
      @include PC {
        order: 2;
        width: calc(665 / 1360 * 100%);
      }
    }
    .i-wrap__colctn {
      @include PC {
        order: 1;
        width: calc(595 / 1360 * 100%);
        padding-top: 11px;
      }
      @include SP {
        margin-top: 31px;
      }
      .colctn-inner {
        @include PC {
          max-width: 500px;
          margin: 0 0 0 auto;
        }
      }
    }
    .colctn-ttl {
      @include font(22, 36, 0.1, 700);
      color: $brown02;
      @include PC {
        margin-top: 41px;
        @include max-screen(1200px) {
          font-size: calc(22 / 1200 * 100vw);
          margin-top: calc(41 / 1200 * 100vw);
        }
      }
      @include SP {
        @include font(18, 30);
        @include max-screen(375px) {
          font-size: calc(18 / 375 * 100vw);
        }
      }
    }
    .colctn-desc {
      @include PC {
        margin-top: 20px;
        @include max-screen(1200px) {
          margin-top: calc(20 / 1200 * 100vw);
        }
      }
      @include SP {
        margin-top: 13px;
        @include max-screen(375px) {
          margin-top: calc(13 / 375 * 100vw);
        }
      }
      .txt {
        @include font(16, 28, 0.1, 500);
        color: $brown02;
        @include PC {
          @include max-screen(1200px) {
            font-size: calc(16 / 1200 * 100vw);
          }
        }
        @include SP {
          @include font(15, 28);
          @include max-screen(375px) {
            font-size: calc(15 / 375 * 100vw);
          }
        }
      }
    }
    .colctn-info {
      border: solid #dedcdc;
      border-width: 1px 0;
      color: $brown02;
      @include PC {
        @include flexbox;
        @include justify-content(space-between);
        margin-top: 31px;
        padding: 18px 19px 19px 20px;
        @include max-screen(1200px) {
          padding: calc(18 / 1200 * 100vw) calc(19 / 1200 * 100vw)
            calc(19 / 1200 * 100vw) calc(20 / 1200 * 100vw);
        }
      }
      @include SP {
        margin-top: 24px;
        padding: 6px 0 8px;
        text-align: center;
        @include max-screen(375px) {
          padding: calc(6 / 375 * 100vw) 0 calc(8 / 375 * 100vw);
        }
      }
      .info-item {
        @include SP {
          display: inline-block;
        }
      }
      .ttl01 {
        display: inline-block;
        @include font(16, 28, 0.1, 500);
        @include PC {
          margin-right: 30px;
          @include max-screen(1200px) {
            font-size: calc(16 / 1200 * 100vw);
            margin-right: calc(30 / 1200 * 100vw);
          }
        }
        @include SP {
          @include font(14, 26);
          margin-right: 6px;
          @include max-screen(375px) {
            font-size: calc(14 / 375 * 100vw);
            margin-right: calc(6 / 375 * 100vw);
          }
        }
      }
      .time01 {
        position: relative;
        top: 1px;
        @include ffGT;
        @include font(16, 28, 0.1, 400);
        @include PC {
          @include max-screen(1200px) {
            font-size: calc(16 / 1200 * 100vw);
          }
        }
        @include SP {
          @include font(14, 26);
          @include max-screen(375px) {
            font-size: calc(14 / 375 * 100vw);
          }
        }
      }
    }
    .slash {
      position: relative;
      top: 3px;
      display: inline-block;
      @include ffGT;
      @include font(24, 26, 0.1, 200);
      color: #c9c9c9;
      margin: 0 4px;
      @include SP {
        @include max-screen(375px) {
          font-size: calc(24 / 375 * 100vw);
          margin: 0 calc(4 / 375 * 100vw);
        }
      }
    }
    .c-btn04 {
      max-width: 156px;
      @include PC {
        margin-top: 47px;
        @include max-screen(1200px) {
          margin-top: calc(47 / 1200 * 100vw);
        }
      }
      @include SP {
        margin-top: 32px;
      }
    }
  }
  &.wrap-left {
    .i-wrap__colslide {
      @include PC {
        width: calc(665 / 1360 * 100%);
      }
    }
    .i-wrap__colctn {
      @include PC {
        width: calc(595 / 1360 * 100%);
        padding-top: 11px;
      }
      @include SP {
        margin-top: 31px;
      }
      .colctn-inner {
        @include PC {
          max-width: 500px;
        }
      }
    }
    .colctn-ttl {
      @include font(22, 36, 0.1, 700);
      color: $brown02;
      @include PC {
        margin-top: 41px;
        @include max-screen(1200px) {
          font-size: calc(22 / 1200 * 100vw);
          margin-top: calc(41 / 1200 * 100vw);
        }
      }
      @include SP {
        @include font(18, 30);
        @include max-screen(375px) {
          font-size: calc(18 / 375 * 100vw);
        }
      }
    }
    .colctn-desc {
      @include PC {
        margin-top: 20px;
        @include max-screen(1200px) {
          margin-top: calc(20 / 1200 * 100vw);
        }
      }
      @include SP {
        margin-top: 13px;
        @include max-screen(375px) {
          margin-top: calc(13 / 375 * 100vw);
        }
      }
      .txt {
        @include font(16, 28, 0.1, 500);
        color: $brown02;
        @include PC {
          @include max-screen(1200px) {
            font-size: calc(16 / 1200 * 100vw);
          }
        }
        @include SP {
          @include font(15, 28);
          @include max-screen(375px) {
            font-size: calc(15 / 375 * 100vw);
          }
        }
      }
    }
    .colctn-info {
      border: solid #dedcdc;
      border-width: 1px 0;
      color: $brown02;
      @include PC {
        @include flexbox;
        @include justify-content(space-between);
        margin-top: 31px;
        padding: 18px 19px 19px 20px;
        @include max-screen(1200px) {
          padding: calc(18 / 1200 * 100vw) calc(19 / 1200 * 100vw)
            calc(19 / 1200 * 100vw) calc(20 / 1200 * 100vw);
        }
      }
      @include SP {
        margin-top: 24px;
        padding: 6px 0 8px;
        text-align: center;
        @include max-screen(375px) {
          padding: calc(6 / 375 * 100vw) 0 calc(8 / 375 * 100vw);
        }
      }
      .info-item {
        @include SP {
          display: inline-block;
        }
      }
      .ttl01 {
        display: inline-block;
        @include font(16, 28, 0.1, 500);
        @include PC {
          margin-right: 30px;
          @include max-screen(1200px) {
            font-size: calc(16 / 1200 * 100vw);
            margin-right: calc(30 / 1200 * 100vw);
          }
        }
        @include SP {
          @include font(14, 26);
          margin-right: 6px;
          @include max-screen(375px) {
            font-size: calc(14 / 375 * 100vw);
            margin-right: calc(6 / 375 * 100vw);
          }
        }
      }
      .time01 {
        position: relative;
        top: 1px;
        @include ffGT;
        @include font(16, 28, 0.1, 400);
        @include PC {
          @include max-screen(1200px) {
            font-size: calc(16 / 1200 * 100vw);
          }
        }
        @include SP {
          @include font(14, 26);
          @include max-screen(375px) {
            font-size: calc(14 / 375 * 100vw);
          }
        }
      }
    }
    .slash {
      position: relative;
      top: 3px;
      display: inline-block;
      @include ffGT;
      @include font(24, 26, 0.1, 200);
      color: #c9c9c9;
      margin: 0 4px;
      @include SP {
        @include max-screen(375px) {
          font-size: calc(24 / 375 * 100vw);
          margin: 0 calc(4 / 375 * 100vw);
        }
      }
    }
    .c-btn04 {
      max-width: 156px;
      @include PC {
        margin-top: 47px;
        @include max-screen(1200px) {
          margin-top: calc(47 / 1200 * 100vw);
        }
      }
      @include SP {
        margin-top: 32px;
      }
    }
  }
}
// Common Slide
// Section Mainvisual
.sec-mv {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
}
.mv-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.mv-ctn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include PC {
    padding-bottom: 120px;
  }
  @include SP {
    padding-bottom: 151px;
  }
}

.mv-ttl {
  position: relative;
  @include font(70, 101, 0.12, 700);
  color: #fff;
  width: 100%;
  transform: translate3d(0, 40px, 0);
  opacity: 0;
  transition: all 0.3s ease;
  @include PC {
    padding: 0 0 59px 120px;
    max-width: 748px;
    @include max-screen(1440px) {
      font-size: calc(70 / 1440 * 100vw);
      padding: 0 0 calc(59 / 1440 * 100vw) calc(120 / 1440 * 100vw);
      max-width: calc(748 / 1440 * 100vw);
    }
  }
  @include SP {
    @include font(36, 56);
    padding: 0 24px 35px;
    max-width: 375px;
    margin: 0 auto;
    @include max-screen(375px) {
      font-size: calc(36 / 375 * 100vw);
      padding: 0 calc(24 / 375 * 100vw) calc(35 / 375 * 100vw);
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 1) 100%
    );
    width: 0;
    transition: all 0.3s ease;
    transition-delay: 0.5s;
  }
  .row {
    display: block;
  }
}
.mv-scrolldown {
  position: absolute;
  @include ffGT;
  @include font(15, 20, 0, 500);
  color: #fff;
  @include PC {
    padding-right: 57px;
    right: 100px;
    bottom: 106px;
    @include max-screen(1440px) {
      right: calc(100 / 1440 * 100vw);
      bottom: calc(106 / 1440 * 100vw);
      font-size: calc(15 / 1440 * 100vw);
      padding-right: calc(57 / 1440 * 100vw);
    }
  }
  @include SP {
    padding-bottom: 51px;
    right: calc(50% - 40px);
    bottom: 0;
  }
  .circle {
    display: block;
    position: absolute;
    width: 72px;
    height: 72px;
    // border-radius: 100%;
    // background-color: rgba(255, 255, 255, 0.15);
    // animation: scrolldow 1.5s ease-in-out infinite;
    @include PC {
      right: 0;
      top: calc(50% - 36px);
      @include max-screen(1440px) {
        width: calc(72 / 1440 * 100vw);
        height: calc(72 / 1440 * 100vw);
        top: calc(50% - (36 / 1440 * 100vw));
      }
    }
    @include SP {
      right: calc(50% - 35px);
      bottom: -36px;
    }
    &::before {
      content: "";
      position: absolute;
      border-radius: 100%;
      background-color: #fff;
      @include PC {
        width: 6px;
        height: 6px;
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        @include max-screen(1440px) {
          width: calc(6 / 1440 * 100vw);
          height: calc(6 / 1440 * 100vw);
          top: calc(50% - (3 / 1440 * 100vw));
          left: calc(50% - (3 / 1440 * 100vw));
        }
      }
      @include SP {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.15);
      transform: translate3d(-50%, -50%, 0);
      transition: all 0.3s ease;
    }
  }
}
.is-loaded {
  .mv-ttl {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    &::before {
      @include PC {
        width: calc(100% - 9px);
        @include max-screen(1440px) {
          width: calc(100% - (9 / 1440 * 100vw));
        }
      }
      @include SP {
        width: calc(100% - 34px);
        @include max-screen(375px) {
          width: calc(100% - (34 / 375 * 100vw));
        }
      }
    }
  }
}
// Section Mainvisual
// Section News
.sec-news {
  position: relative;
  overflow: hidden;
  @include PC {
    padding: 119px 0 132px;
  }
  @include SP {
    padding: 59px 0 56px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-repeat: repeat;
    background-color: transparent;
    background-position: center;
    background-size: 887px 693px;
    z-index: 1;
    @include PC {
      width: calc(50% + 167px);
      background: url($img_url + "img/ishinoya/news_bg.jpg");
      @include max-screen(1440px) {
        width: calc(50% + (167 / 1440 * 100vw));
      }
    }
    @include SP {
      width: 100%;
      background: url($img_url + "img/ishinoya/news_bg_sp.jpg");
    }
  }
  .inner1170 {
    position: relative;
    z-index: 2;
  }
}
.c-sec-news {
  .news-time {
    color: #b2a46f;
  }
  .c-btn04 {
    @include SP {
      margin: 35px auto 0;
    }
    &:after {
      @include SP {
        background: none;
      }
    }
  }
}
// Section News
// Section Room
.sec-room {
  @include PC {
    padding: 120px 16px 120px;
    @include max-screen(1218px) {
      padding: 120px 0 500px;
    }
  }
  @include SP {
    padding: 65px 0 500px;
  }
}
// Section Room
// Section Spa
.sec-spa {
  position: relative;
  @include PC {
    padding: 120px 16px 500px;
    @include max-screen(1218px) {
      padding: 120px 0 500px;
    }
  }
  @include SP {
    padding: 65px 0 500px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-repeat: repeat;
    background-color: transparent;
    background-position: center;
    background-size: 887px 693px;
    z-index: 1;
    @include PC {
      width: calc(50% + 500px);
      background: url($img_url + "img/ishinoya/news_bg.jpg");
      @include max-screen(1440px) {
        width: calc(50% + (500 / 1440 * 100vw));
      }
    }
    @include SP {
      width: 100%;
      background: url($img_url + "img/ishinoya/news_bg_sp.jpg");
    }
  }
  .i-wcm02 {
    position: relative;
    z-index: 2;
  }
}
// Section Spa
