@charset 'UTF-8';
@import "../utility/*";


/*-----------------------------------------------------------
for ARCHIVE
-------------------------------------------------------------*/
.sec-news {
  @include PC {
    padding: 100px 0 190px;
  }
  @include SP {
    padding: 65px 0 82px;
    .c-lstpost01__item:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}
.c-catectn {
  @include PC {
    text-align: center;
    margin-bottom: 34px;
  }
  @include SP {
    margin: 0 -4px 32px 0;
  }
  .c-cate01 {
    border: 1px solid $blue01;
    line-height: 1.6;
    @include PC {
      min-width: 120px;
      padding-top: 8px;
      padding-bottom: 6px;
      margin: 0 5px 5px;
    }
    &:not(.is-active) {
      background: #fff;
    }
    @include HOVER {
      &:not(.is-active) {
        background: $blue01;
      }
    }
    @include SP {
      padding-top: 6px;
      padding-bottom: 5px;
      margin: 0 4px 4px 0;
      @include max-screen(375px) {
        padding-top: calc(6 / 375 * 100vw);
        padding-bottom: calc(5 / 375 * 100vw);
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/*-----------------------------------------------------------
for SINGLE
-------------------------------------------------------------*/
.article-news {
  position: relative;
  @include PC {
    margin-top: 19px;
    margin-bottom: 189px;
    .img-wave-blue {
      top: 133px;
      left: auto;
      right: -9px;
      @include max-screen(1250px) {
        right: 0;
      }
    }
  }
  @include SP {
    margin-top: 6px;
    margin-bottom: 81px;
    .img-wave-blue {
      top: 62px;
      left: auto;
      right: 23px;
    }
  }
}
.article-inner {
  position: relative;
  @include PC {
    max-width: 1000px;
    margin: 0 auto;
    width: calc(100% - 62px);
  }
  .img-dot {
    text-align: right;
    @include PC {
      padding-right: 25px;
      margin-bottom: 3px;
    }
    @include SP {
      padding-right: 28px;
      margin-bottom: 19px;
      img {
        width: 82px;
      }
    }
  }
}
.box-meta {
  @include PC {
    margin-bottom: 24px;
  }
  @include SP {
    margin-bottom: 10px;
    padding-right: 42px;
  }
  .meta-date {
    color: #AFAFAF;
    @include ffGT;
    @include font(14,"","",500);
    &:not(.meta-cates) {
      margin-right: 16px;
    }
  }
  .meta-cates {
    color: $blue01;
    @include font(14,18,"",700);
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
.sg-mainimg {
  @include PC {
    margin-top: 61px;
  }
  @include SP {
    margin-top: 33px;
  }
}
.article-block {
  @include PC {
    position: relative;
    margin-top: 79px;
    padding: 0 70px;
    .sg-share {
      position: absolute;
      top: 2px;
      left: 10px;
      height: 100%;
    }
    .share-inner {
      text-align: center;
      position: -webkit-sticky;
      position: sticky;
      left: 10px;
      top: 155px;
    }
    .share__ttl {
      display: block;
      margin-bottom: 14px;
    }
    .share__link {
      display: block;
      width: 31px;
      margin: 0 auto 15px;
    }
  }
  @include SP {
    margin-top: 39px;
    .sg-share {
      margin-top: 40px;
    }
  }
}
.cms-content {
  @include PC {
    max-width: 900px;
    margin: 0 auto;
  }
}
.mod-pagination {
  margin-top: 39px;
}

