@charset 'UTF-8';
@import "../utility/*";



/*-----------------------------------------------------------
for ARCHIVE
-------------------------------------------------------------*/
.news-list {

}


/*-----------------------------------------------------------
for SINGLE
-------------------------------------------------------------*/