@charset 'UTF-8';
@import "../utility/*";

#wrap {
  padding-top: 0;
}

// Section Mainvisual
.sec-mv {
  position: relative;
  &:before {
    content: "";
    display: block;
    @include PC {
      padding-top: calc(1315 / 1440 * 100%);
    }
    @include SP {
      padding-top: calc(750 / 375 * 100%);
    }
  }
  &.is-morning {
    @include SP {
      .mv-video .mv-video__item {
        .video-head {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
    }
    .mv-ttl {
      .is-morning {
        opacity: 1;
      }
      .is-afternoon,
      .is-evening {
        opacity: 0;
      }
    }
  }
  &.is-afternoon {
    @include SP {
      .mv-video .mv-video__item {
        .video-head {
          background: linear-gradient(
            180deg,
            rgba(255, 244, 227, 1) 0%,
            rgba(255, 244, 227, 1) 50%,
            rgba(255, 244, 227, 0) 100%
          );
        }
      }
    }
    .mv-ttl {
      .is-afternoon {
        opacity: 1;
      }
      .is-morning,
      .is-evening {
        opacity: 0;
      }
    }
  }
  &.is-evening {
    @include SP {
      .mv-video .mv-video__item {
        .video-head {
          background: linear-gradient(
            180deg,
            rgba(18, 40, 94, 1) 0%,
            rgba(18, 40, 94, 1) 50%,
            rgba(18, 40, 94, 0) 100%
          );
        }
      }
    }
    .mv-ttl {
      .is-evening {
        opacity: 1;
      }
      .is-morning,
      .is-afternoon {
        opacity: 0;
      }
    }
  }
}
.mv-video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  @include PC {
    // top: -35px;
    top: calc(-35 / 1440 * 100vw);
  }
  @include SP {
    top: 0;
  }

  .mv-video__item {
    position: relative;
    height: 100%;
    overflow: hidden;
    .video-head {
      position: relative;
      z-index: 1;
      // height: calc(158 / 750 * 100%);
      height: calc(158 / 375 * 100vw);
      width: 100%;
      transition: all 0.3s ease;
    }
    video {
      @include PC {
        width: 100%;
      }
      @include SP {
        width: calc(100% + calc(80 / 375 * 100vw));
        margin: calc(-78 / 375 * 100vw) calc(-40 / 375 * 100vw)
          calc(-108 / 375 * 100vw);
      }
    }
    .video-foot {
      position: relative;
      z-index: 1;
      // height: calc(343 / 750 * 100%);
      height: calc(343 / 375 * 100vw);
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(42, 161, 218, 0) 0%,
        rgba(42, 161, 218, 1) 30%,
        rgba(42, 161, 218, 1) 100%
      );
    }
  }
}
.mv-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  @include PC {
    @include min-screen(1001px) {
      padding-top: calc(143 / 1440 * 100vw);
    }
    @include max-screen(1000px) {
      padding-top: 98px;
    }
  }
  @include SP {
    // padding-top: 88px;
    padding-top: calc(88 / 375 * 100vw);
  }
}
.mv-ttl {
  text-align: center;
  position: relative;
  .ttl-box {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
  }
  .is-morning {
    background: linear-gradient(180deg, $blue02, $blue03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .is-afternoon {
    position: absolute;
    opacity: 0;
    background: linear-gradient(180deg, $orange01, $orange01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .is-evening {
    position: absolute;
    opacity: 0;
    background: linear-gradient(180deg, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .row {
    display: block;
    @include font(50, 68, 0.15, 700);
    @include PC {
      font-size: calc(50 / 1440 * 100vw);
    }
    @include SP {
      @include font(24.9, 35);
      font-size: calc(24.9 / 375 * 100vw);
    }
    .is-font {
      font-family: "Noto Sans JP", sans-serif;
    }
  }
}
.mv-desc {
  // margin-top: 600px;
  text-align: center;
  @include PC {
    margin-top: calc(600 / 1440 * 100vw);
  }
  @include SP {
    margin-top: calc(266 / 375 * 100vw);
  }
  .mv-desc__inner {
    width: 100%;
    // max-width: 612px;
    // margin: 0 auto 0 131px;
    @include PC {
      max-width: calc(612 / 1440 * 100vw);
      margin: 0 auto 0 calc(131 / 1440 * 100vw);
    }
    @include SP {
      max-width: calc(328 / 375 * 100vw);
      margin: 0 auto;
    }
  }
  .txt {
    color: #fff;
    @include font(18, 45, 0.12, 700);
    @include PC {
      font-size: calc(18 / 1440 * 100vw);
    }
    @include SP {
      @include font(14, 28);
      font-size: calc(14 / 375 * 100vw);
    }
  }
}
// Section Mainvisual
