@charset 'UTF-8';

.anim-ttl01 {
  overflow: hidden;
  .anim-inner {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    transition-delay: inherit;
  }
  &.aos-animate {
    .anim-inner {
      transform: translateY(0);
    }
  }
}

.anim-scale01 {
  opacity: 0;
  transform: scale(50%);
  &.aos-animate {
    opacity: 1;
    transform: scale(1);
  }
}
