@charset 'UTF-8';

.anim-ttl01 {
  overflow: hidden;
  .anim-inner {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    transition-delay: inherit;
  }
  &.aos-animate {
    .anim-inner {
      transform: translateY(0);
    }
  }
}

.anim-scale01 {
  opacity: 0;
  transform: scale(50%);
  &.aos-animate {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cloud01 {
  0% {
    transform: rotate(20deg) scale(0.5) translate(30px, 30px);
    opacity: 0;
  }
  50% {
    transform: rotate(0) scale(1) translate(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cloud02 {
  0% {
    transform: rotate(-20deg) scale(0.5) translate(-30px, 30px);
    opacity: 0;
  }
  50% {
    transform: rotate(0) scale(1) translate(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cloud03 {
  0% {
    transform: rotate(-13.734deg) scale(0.5) translate(-30px, 30px);
    opacity: 0;
  }
  65% {
    transform: rotate(0) scale(1) translate(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageHover {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}