@charset "UTF-8";
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 0 20px;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px auto;
}

.alignleft {
  float: left;
  margin: 5px auto 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px auto;
}

a img.alignnone {
  margin: 5px 0 20px;
}

a img.alignleft {
  float: left;
  margin: 5px auto 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  // background: #fff;
  // border: 1px solid #f0f0f0;
  // max-width: 96%; /* Image does not overflow the content area */
  // padding: 5px 3px 10px;
  // text-align: center;
  margin: 26px auto 39px;
  width: auto !important;
}

// .wp-caption.alignnone {
//   margin: 5px 0 20px;
// }

// .wp-caption.alignleft {
//   margin: 5px auto 20px 0;
// }

// .wp-caption.alignright {
//   margin: 5px 0 20px auto;
// }

// .wp-caption p.wp-caption-text {
//   font-size: 11px;
//   line-height: 17px;
//   margin: 0;
//   padding: 0 4px 5px;
// }

.wp-video {
  max-width: 100%;
  margin-bottom: 40px;
  video {
    max-width: 100%;
    height: auto;
  }
}

.cms-content {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-wrap: break-word;
  @include clearfix;
  ul,
  ol {
    margin: 25px 0;
    @include font(15, 24, 120, 700);
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      position: relative;
      padding: 0 0 0 20px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        position: absolute;
        content: "";
        top: 7px;
        left: 0;
        width: 10px;
        height: 10px;
        background: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="3" fill="%2365B0D4"/><circle cx="5" cy="5" r="4.5" stroke="%2365B0D4"/></svg>')
          no-repeat 0 0;
      }
    }
    &[style*="list-style-type: disc;"],
    &[style*="list-style-type: circle;"],
    &[style*="list-style-type: square;"] {
      li {
        margin-left: 20px;
        padding: 0;
        &:before {
          opacity: 0;
          background: none;
          display: none;
        }
      }
    }
    &[style*="list-style-type: disc;"] {
      li {
        list-style-type: disc;
      }
    }
    &[style*="list-style-type: circle;"] {
      li {
        list-style-type: circle;
      }
    }
    &[style*="list-style-type: square;"] {
      li {
        list-style-type: square;
      }
    }
  }
  ol {
    padding-left: 20px;
    &[style*="list-style-type: lower-roman;"] {
      li {
        list-style-type: lower-roman;
      }
    }
    &[style*="list-style-type: lower-alpha;"] {
      li {
        list-style-type: lower-alpha;
      }
    }
    &[style*="list-style-type: lower-greek;"] {
      li {
        list-style-type: lower-greek;
      }
    }
    &[style*="list-style-type: upper-alpha;"] {
      li {
        list-style-type: upper-alpha;
      }
    }
    &[style*="list-style-type: upper-roman;"] {
      li {
        list-style-type: upper-roman;
      }
    }
    li {
      list-style-type: decimal;
    }
  }
  p,
  .wp-caption {
    .img-container {
      position: relative;
      &::before {
        content: "";
        display: block;
        padding-top: calc(634 / 900 * 100%);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        -webkit-mask-image: url($img_url + "img/common/mask_bg12.png");
        mask-image: url($img_url + "img/common/mask_bg12.png");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      }
    }
  }
  // .wp-caption img {
  //   width: 100%;
  //   -webkit-mask-image: url($img_url + "img/common/mask_bg02.png");
  //   mask-image: url($img_url + "img/common/mask_bg02.png");
  //   -webkit-mask-position: center;
  //   mask-position: center;
  //   -webkit-mask-repeat: no-repeat;
  //   mask-repeat: no-repeat;
  //   -webkit-mask-size: 100% 100%;
  //   mask-size: 100% 100%;
  // }
  .wp-caption-text {
    font-weight: 400;
    margin-top: 14px;
    @include SP {
      margin-top: 15px;
    }
  }
  p {
    @include font(15, 26, 100, 500);
    + p {
      margin-top: 25px;
    }
    + h2 {
      margin-top: 39px;
    }
    + h3 {
      margin-top: 39px;
    }
    + h4 {
      margin-top: 29px;
    }
    + blockquote {
      margin-top: 20px;
    }
  }
  h2 {
    position: relative;
    @include font(25, 1.6, 120, 700);
    padding-bottom: 18px;
    margin-bottom: 25px;
    @include SP {
      @include font(18, 28);
    }
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 150px;
      height: 2px;
      background: $yellow01;
      @include SP {
        width: 100px;
      }
    }
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: calc(100% - 160px);
      height: 2px;
      background: $blue01;
      @include SP {
        width: calc(100% - 110px);
      }
    }
  }
  h3 {
    position: relative;
    @include font(20, 1.6, 120, 700);
    padding-left: 14px;
    margin-bottom: 26px;
    @include SP {
      @include font(18, 28);
    }
    &:before {
      position: absolute;
      content: "";
      top: 4px;
      left: 0;
      width: 4px;
      height: 26px;
      background: url('data:image/svg+xml,<svg width="4" height="26" viewBox="0 0 4 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2.375C0 1.27043 0.895431 0.375 2 0.375C3.10457 0.375 4 1.27043 4 2.375V12.375H0V2.375Z" fill="%23F5BB1E"/><path d="M0 13.625H4V23.625C4 24.7296 3.10457 25.625 2 25.625C0.895431 25.625 0 24.7296 0 23.625V13.625Z" fill="%2365B0D4"/></svg>')
        no-repeat 0 0;
      @include SP {
        top: 1px;
      }
    }
  }
  h4 {
    position: relative;
    @include font(20, 1.6, 120, 700);
    padding-left: 20px;
    margin-bottom: 16px;
    @include SP {
      @include font(16, 26);
    }
    &:before {
      position: absolute;
      content: "";
      top: 11px;
      left: 0;
      background: $blue01;
      border-radius: 2px;
      width: 10px;
      height: 10px;
      @include SP {
        top: 7px;
      }
    }
  }
  a {
    display: inline-block;
    color: $blue01;
    @include ffGT;
    letter-spacing: 0;
    margin-top: 2px;
  }
  iframe {
    max-width: 100% !important;
  }
  img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
  }
  span[style*="text-decoration: underline;"] {
    text-decoration: none !important;
    background-image: linear-gradient(
      to right,
      rgba($color: #f5bb1e, $alpha: 0.5),
      rgba($color: #f5bb1e, $alpha: 0.5)
    );
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 5px;
  }
  table {
    table-layout: fixed;
    border: 1px solid $color_body;
    margin-bottom: 40px;
    td,
    th {
      border: 1px solid $color_body;
    }
  }
  blockquote {
    @include font(15, 30, 100, 400);
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 20px;
  }
  .img-2col {
    @include PC {
      @include flexbox;
      margin: 30px 0 59px;
    }
    @include SP {
      margin: 30px 0 38px;
    }
    &__photo {
      @include PC {
        @include flex(1);
        @include aspect-ratio(440, 310);
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      @include SP {
        @include aspect-ratio(331, 230);
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 310px;
        object-fit: cover;
        margin: 0;
        -webkit-mask-image: url($img_url + "img/common/mask_bg03.png");
        mask-image: url($img_url + "img/common/mask_bg03.png");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        @include SP {
          max-height: 230px;
        }
      }
      .wp-caption-text {
        margin-top: 15px;
        @include SP {
          margin-top: 18px;
        }
      }
    }
  }
}

.sg-heading {
  @include font(30, 45, 120, 700);
  @include SP {
    @include font(22, 34);
  }
}
.sg-mainimg {
  -webkit-mask-image: url($img_url + "img/common/mask_bg02.png");
  mask-image: url($img_url + "img/common/mask_bg02.png");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  @include PC {
    @include aspect-ratio(1000, 490);
  }
  @include SP {
    @include aspect-ratio(327, 160);
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.sg-share {
  @include SP {
    text-align: center;
  }
  .share__ttl {
    @include ffGT;
    @include font(14, 1.2, "", 500);
    @include SP {
      display: none;
    }
  }
  .share__link {
    @include SP {
      display: inline-block;
      width: 42px;
      margin: 0 9px;
      img {
        width: 100%;
      }
    }
  }
}
