@charset 'UTF-8';

.c-img {
  display: block;
  position: relative;
  img {
    display: block;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
  &--top {
    img {
      object-position: top;
    }
  }
}

.c-fw {
  width: 100%;
}

[rel~="js-lazy"] {
  opacity: 0;
  &:not(.initial) {
    transition: opacity 0.15s;
  }
  &.initial,
  &.loaded,
  &.error {
    opacity: 1;
  }
}

.c-lazybg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &--top {
    background-position: center top;
  }
  &--contain {
    background-size: contain;
  }
}

/* ===================== MAINVISUAL ===================== */
.c-mainvisual {
}
.c-breadcrumb {
  @include PC {
  }
  @include SP {
    line-height: 1;
  }
  ul {
    @include PC {
      @include flexbox;
      @include align-items(center);
      @include flex-wrap(wrap);
    }
  }
  li {
    display: inline;
    position: relative;
    @include font(12, "", 0, 500);
    &:not(:last-child) {
      &::after {
        display: inline-block;
        vertical-align: middle;
        content: "/";
        margin: auto 10px 3px 11px;
      }
    }
    &:first-child {
      // a {
      //   opacity: 1;
      //   transition: 0.3s;
      //   @include HOVER {
      //     color: $blue01;
      //   }
      // }
      &::before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        margin: auto;
        width: 12px;
        height: 19px;
        margin: auto 6px 5px 0;
        background: url('data:image/svg+xml,<svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 1.5L12 6.30761V13.5H0V6.30761L6 1.5ZM4.8 12.3463H7.2V9.46193H4.8V12.3463ZM8.4 12.3463H10.8V6.84756L6 3.00216L1.2 6.84756V12.3463H3.6V8.30819H8.4V12.3463Z" fill="black"/></svg>')
          center no-repeat;
      }
    }
  }
  a {
    display: inline-block;
    color: $color_body;
    opacity: 1;
    transition: 0.3s;
    @include HOVER {
      color: $blue01;
    }
  }
}

/* ===================== BUTTON ===================== */
.c-btn01 {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 220px;
  text-align: center;
  // background: #fff;
  border: solid 1px $blue01;
  border-radius: 25px;
  transition: all 0.4s ease;
  @include PC {
    padding: 9px 31px 9px 21px;
  }
  @include SP {
    padding: 6px 27px 6px 29px;
  }
  &.is-center {
    margin: 0 auto;
  }
  @include HOVER {
    opacity: 1;
    background-color: $blue01;
    color: #fff;
    &:before {
      right: 0;
      opacity: 1;
    }
    .arr01 {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    .arr02 {
      transform: translateX(13px) scale(0.5);
      opacity: 0;
    }
    span {
      transform: translateX(13px);
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: $blue01;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .arr01,
  .arr02 {
    position: absolute;
    z-index: 2;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 100% 100%;
    transition: all 0.4s ease;
  }
  .arr01 {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="white"/></svg>');
    transform: translateX(-13px) scale(0.5);
    opacity: 0;
    @include PC {
      left: 14px;
    }
    @include SP {
      left: 9px;
    }
  }
  .arr02 {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="%2365B0D4"/></svg>');
    transform: translateX(0) scale(1);
    @include PC {
      right: 14px;
    }
    @include SP {
      right: 9px;
    }
  }
  span {
    position: relative;
    z-index: 3;
    display: inline-block;
    @include font(16, 30, 0.12, 700);
    transition: transform 0.4s ease;
    @include SP {
      @include font(14, 24);
    }
  }
}

/* ===================== TITLE ===================== */
.c-ttl01 {
  .c-ttl01__en {
    display: inline-block;
    @include ffGT;
    @include font(50, 52, 0.1, 600);
    @include PC {
      margin-right: 12px;
    }
    @include SP {
      @include font(28, 30);
      margin-right: 9px;
    }
  }
  .c-ttl01__jp {
    position: relative;
    display: inline-block;
    @include font(18, 25, 0.12, 700);
    color: $blue01;
    @include PC {
      top: -3px;
    }
    @include SP {
      @include font(15, 25);
      top: 2px;
    }
  }
}

/* ===================== CATEGORY ===================== */
.c-cate01 {
  display: inline-block;
  @include font(15, 39, 0.12, 700);
  background: $gray01;
  border-radius: 50px;
  transition: all 0.3s ease;
  @include PC {
    padding: 1px 26px 0;
  }
  @include SP {
    @include font(14, 34);
    padding: 1px 22px 0;
    @include max-screen(375px) {
      font-size: calc(14 / 375 * 100vw);
      padding: calc(1 / 375 * 100vw) calc(22 / 375 * 100vw) 0;
    }
  }
  @include HOVER {
    opacity: 1;
    background: $blue01;
    color: #fff;
  }
  &.is-active {
    background: $blue01;
    color: #fff;
    pointer-events: none;
  }
}
/* ===================== CATEGORY ===================== */
/* ===================== LIST POST ===================== */

.c-lstpost01 {
  @include PC {
    @include flexbox;
    @include flex-wrap(wrap);
  }
}
.c-lstpost01__item {
  @include PC {
    width: calc(370 / 1170 * 100%);
    margin-right: calc(60 / 2 / 1170 * 100%);
    margin-top: 41px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include SP {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .lstpost01-link {
    position: relative;
    @include PC {
      display: block;
      padding-right: 25px;
      @include max-screen(1218px) {
        padding-right: calc(25 / 1218 * 100vw);
      }
    }
    @include SP {
      @include flexbox;
      @include justify-content(space-between);
    }
    @include HOVER {
      opacity: 1;
      .lstpost01-img {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  .lstpost01-ctn01 {
    position: relative;
    @include SP {
      width: calc(150 / 327 * 100%);
    }
    .cate {
      position: absolute;
      @include PC {
        top: -20px;
        right: -25px;
        @include max-screen(1218px) {
          top: calc(-20 / 1218 * 100vw);
          right: calc(-25 / 1218 * 100vw);
        }
      }
      @include SP {
        top: -12px;
        right: -12px;
        @include max-screen(375px) {
          top: calc(-12 / 375 * 100vw);
          right: calc(-12 / 375 * 100vw);
        }
      }
      .item {
        position: relative;
        z-index: 1;
        display: inline-block;
        @include font(14, 18, 0, 700);
        color: #fff;
        text-align: center;
        @include PC {
          min-width: 88px;
          padding: 31px 2px;
          @include max-screen(1218px) {
            min-width: calc(88 / 1218 * 100vw);
            font-size: calc(14 / 1218 * 100vw);
            padding: calc(31 / 1218 * 100vw) calc(2 / 1218 * 100vw);
          }
        }
        @include SP {
          @include font(12, 14);
          min-width: 66px;
          padding: 23px 2px;
          @include max-screen(375px) {
            font-size: calc(12 / 375 * 100vw);
            min-width: calc(66 / 375 * 100vw);
            padding: calc(23 / 375 * 100vw) calc(2 / 375 * 100vw);
          }
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          -webkit-mask-image: url($img_url + "img/common/mask_cloud01.png");
          mask-image: url($img_url + "img/common/mask_cloud01.png");
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
        }
        &.is-blue {
          &:before {
            background: $blue01;
          }
        }
        &.is-yellow {
          &:before {
            background: $yellow01;
          }
        }
      }
    }
  }
  .lstpost01-img {
    position: relative;
    -webkit-mask-image: url($img_url + "img/common/mask_bg01.png");
    mask-image: url($img_url + "img/common/mask_bg01.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    @include PC {
      padding-top: (250 / 345) * 100%;
    }
    @include SP {
      padding-top: (110 / 150) * 100%;
    }
    img {
      display: block;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include PC {
        transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
        will-change: transform;
      }
    }
  }

  .lstpost01-ctn02 {
    @include PC {
      margin-top: 19px;
    }
    @include SP {
      -webkit-align-self: center;
      align-self: center;
      width: calc(153 / 327 * 100%);
      padding-bottom: 6px;
    }
    .date {
      @include ffGT;
      @include font(14, "", 0.05, 500);
      color: $blue01;
      @include PC {
        position: absolute;
        top: 84px;
        right: -4px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        white-space: nowrap;
        @include max-screen(1218px) {
          top: calc(84 / 1218 * 100vw);
          right: calc(-4 / 1218 * 100vw);
          font-size: calc(14 / 1218 * 100vw);
        }
      }
      @include SP {
        @include font(12, "");
        @include max-screen(375px) {
          font-size: calc(12 / 375 * 100vw);
        }
      }
    }
    .ttl {
      @include font(18, 26, 0.12, 700);
      @include PC {
        @include multiLineEllipsis(2);
        @include max-screen(1218px) {
          font-size: calc(18 / 1218 * 100vw);
        }
      }
      @include SP {
        @include font(14, 24);
        margin: 6px -2px 0 0;
        @include multiLineEllipsis(3);
        width: auto;
        @include max-screen(375px) {
          font-size: calc(14 / 375 * 100vw);
        }
      }
    }
  }
}
/* ===================== LIST POST ===================== */
/* ===================== MODULE PARK ===================== */

.mod-park__inner {
  position: relative;
}
.mod-park__btn {
  // 1170 668
  // 360 205.5
  display: block;
  position: absolute;
  border: solid #fff;
  background: $brown01;
  border-radius: 100px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  @include PC {
    border-width: 2px;
    @include max-screen(1218px) {
      border-width: calc(2 / 1170 * 100vw);
    }
  }
  @include SP {
    font-size: 0;
    line-height: 0;
    @include max-screen(1218px) {
      border-width: calc(0.74 / 375 * 100vw);
    }
  }
  @include HOVER {
    background: $blue01;
    transform: translateY(5px);
  }
  &.bnt01 {
    @include PC {
      top: 70px;
      left: 61px;
      padding: 0 17px 0 19px;
      @include max-screen(1218px) {
        top: calc(70 / 668 * 100%);
        left: calc(61 / 1170 * 100%);
        padding: 0 calc(17 / 1170 * 100%) 0 calc(19 / 1170 * 100%);
      }
    }
    @include SP {
      top: calc(27 / 205.5 * 100%);
      left: calc(12 / 360 * 100%);
      padding: calc(1 / 360 * 100%) calc(7 / 360 * 100%) 0;
    }
  }
  &.bnt02 {
    @include PC {
      top: 70px;
      left: 304px;
      padding: 0 17px 0 19px;
      @include max-screen(1218px) {
        top: calc(70 / 668 * 100%);
        left: calc(304 / 1170 * 100%);
        padding: 0 calc(17 / 1170 * 100%) 0 calc(19 / 1170 * 100%);
      }
    }
    @include SP {
      top: calc(27 / 205.5 * 100%);
      left: calc(89 / 360 * 100%);
      padding: calc(1 / 360 * 100%) calc(7 / 360 * 100%) 0;
    }
  }
  &.bnt03 {
    @include PC {
      top: 66px;
      left: 778px;
      padding: 0 27px 0 29px;
      @include max-screen(1218px) {
        top: calc(66 / 668 * 100%);
        left: calc(778 / 1170 * 100%);
        padding: 0 calc(27 / 1170 * 100%) 0 calc(29 / 1170 * 100%);
      }
    }
    @include SP {
      top: calc(17 / 205.5 * 100%);
      left: calc(232 / 360 * 100%);
      padding: calc(1 / 360 * 100%) calc(10 / 360 * 100%) 0;
    }
  }
  &.bnt04 {
    @include PC {
      top: 424px;
      left: 560px;
      padding: 0 7px 0 9px;
      @include max-screen(1218px) {
        top: calc(424 / 668 * 100%);
        left: calc(560 / 1170 * 100%);
        padding: 0 calc(7 / 1170 * 100%) 0 calc(9 / 1170 * 100%);
      }
    }
    @include SP {
      top: calc(131 / 205.5 * 100%);
      left: calc(161 / 360 * 100%);
      padding: calc(1 / 360 * 100%) calc(3 / 360 * 100%) 0;
    }
  }
  .txt {
    position: relative;
    display: inline-block;
    @include font(18, 34, 0.12, 700);
    color: #fff;
    @include PC {
      padding-left: 29px;
      @include max-screen(1218px) {
        font-size: calc(18 / 1170 * 100vw);
        padding-left: calc(29 / 1170 * 100vw);
      }
    }
    @include SP {
      padding-left: calc(10 / 375 * 100vw);
      font-size: calc(6.63 / 375 * 100vw);
      line-height: calc(11.95 / 375 * 100vw);
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      background-image: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1666 15.6666L13.7916 12.2916M13.7916 12.2916C14.3333 11.7499 14.763 11.1068 15.0562 10.3991C15.3494 9.6913 15.5003 8.93272 15.5003 8.16664C15.5003 7.40056 15.3494 6.64197 15.0562 5.9342C14.763 5.22644 14.3333 4.58334 13.7916 4.04164C13.2499 3.49994 12.6068 3.07023 11.8991 2.77707C11.1913 2.4839 10.4327 2.33301 9.66664 2.33301C8.90056 2.33301 8.14197 2.4839 7.4342 2.77707C6.72644 3.07023 6.08334 3.49994 5.54164 4.04164C4.44762 5.13566 3.83301 6.61946 3.83301 8.16664C3.83301 9.71381 4.44762 11.1976 5.54164 12.2916C6.63566 13.3857 8.11946 14.0003 9.66664 14.0003C11.2138 14.0003 12.6976 13.3857 13.7916 12.2916Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      background-size: 100% 100%;
      @include PC {
        top: calc(50% - 9px);
        width: 21px;
        height: 21px;
        @include max-screen(1218px) {
          top: calc(50% - calc(9 / 1170 * 100vw));
          width: calc(21 / 1170 * 100vw);
          height: calc(21 / 1170 * 100vw);
        }
      }
      @include SP {
        top: calc(50% - calc(4 / 375 * 100vw));
        width: calc(8 / 375 * 100vw);
        height: calc(8 / 375 * 100vw);
      }
    }
  }
}
/* ===================== MODULE PARK ===================== */
/* ===================== POPUP ===================== */
.hidden-scroll {
  overflow: hidden;
}
.modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(79, 92, 96, 0.59);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
.modal-popup {
  position: fixed;
  z-index: 1001;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  max-width: 1102px;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  max-height: var(--maxheight);
  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-inner {
    overflow: hidden;
    height: 100%;
  }
  .modal-window {
    max-height: 100%;
    overflow: auto;
  }
  .modal-popup__inner {
    background: #fff;
    height: 100%;
    overflow: auto;
    @include PC {
      padding: 62px 63px 54px;
      @include max-screen(1366px) {
        padding: 62px calc(63 / 1366 * 100vw) 54px;
      }
    }
    @include SP {
      padding: 33px 21px 38px;
    }
  }
  .popup-lst__item {
    @include PC {
      @include flexbox;
      @include justify-content(space-between);
    }
    .popup-col01 {
      @include PC {
        width: calc(636 / 976 * 100%);
        padding-left: 3px;
      }
      .popup-num {
        font-size: 0;
        line-height: 0;
        @include SP {
          text-align: center;
        }
        .num {
          display: inline-block;
          text-align: center;
          color: #fff;
          background: $blue01;
          border-radius: 100%;
          @include PC {
            @include font(29, 48, 80, 600);
            width: 53px;
            height: 53px;
            padding-left: 4px;
          }
          @include SP {
            @include font(21, 34, 80, 600);
            width: 40px;
            height: 40px;
            padding: 1px 0 0 4px;
          }
        }
      }
      .popup-ttl {
        @include PC {
          @include font(18, 40, 80);
          margin-top: 22px;
        }
        @include SP {
          @include font(18, 36, 80);
          margin-top: 31px;
        }
      }
      .popup-desc {
        @include PC {
          margin-top: 35px;
        }
        @include SP {
          margin-top: 22px;
        }
        .txt {
          @include PC {
            @include font(14, 38, 40);
          }
          @include SP {
            @include font(14, 32, 40);
          }
        }
      }
    }
    .popup-col02 {
      @include PC {
        width: calc(316 / 976 * 100%);
      }
      @include SP {
        margin-top: 27px;
      }
      .popup-thumb {
        text-align: center;
      }
    }
  }

  .popup-close {
    text-align: center;
    @include PC {
      margin-top: 49px;
    }
    @include SP {
      margin-top: 33px;
    }
    .btn {
      display: inline-block;
      width: 60px;
      height: 28px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="60.266" height="28.27" viewBox="0 0 60.266 28.27"><g id="Group_127833" data-name="Group 127833" transform="translate(-327.292 -21.045)"><line id="Line_116" data-name="Line 116" x2="59.851" y2="27.36" transform="translate(327.5 21.5)" fill="none" stroke="%234f5c60" stroke-width="1"/><line id="Line_117" data-name="Line 117" y1="27.36" x2="59.851" transform="translate(327.5 21.5)" fill="none" stroke="%234f5c60" stroke-width="1"/></g></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      background-size: 100% 100%;
      transition: opacity 0.3s ease;
      @include HOVER {
        opacity: 0.75;
      }
    }
  }

  &.popupimg {
    max-width: 763px;
    .modal-popup__inner {
      padding: 0;
      background: none;
    }
    .popup-close {
      @include PC {
        margin-top: 34px;
      }
      @include SP {
        margin-top: 20px;
      }
      .btn {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="60.266" height="28.27" viewBox="0 0 60.266 28.27"><g id="Group_127833" data-name="Group 127833" transform="translate(-327.292 -21.045)"><line id="Line_116" data-name="Line 116" x2="59.851" y2="27.36" transform="translate(327.5 21.5)" fill="none" stroke="%23fff" stroke-width="1"/><line id="Line_117" data-name="Line 117" y1="27.36" x2="59.851" transform="translate(327.5 21.5)" fill="none" stroke="%23fff" stroke-width="1"/></g></svg>');
      }
    }
  }
}
/* ===================== POPUP ===================== */
.c-mask {
  position: absolute;
  left: 0;
  width: 100%;
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 100%;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @include PC {
    -webkit-animation-name: brandSlidePC;
    animation-name: brandSlidePC;
  }
  @include SP {
    -webkit-animation-name: brandSlideSP;
    animation-name: brandSlideSP;
  }
  @keyframes brandSlidePC {
    0% {
      background-position: 1943px;
    }
    100% {
      background-position: 0;
    }
  }
  @keyframes brandSlideSP {
    0% {
      background-position: 1036px;
    }
    100% {
      background-position: 0;
    }
  }
}
.c-bgwave01 {
  position: relative;
  isolation: isolate;
  background: repeat-x top center;
  @include PC {
    background-image: url($img_url + "img/common/wave_bg.png");
    background-size: auto 450px;
  }
  @include SP {
    background-image: url($img_url + "img/common/wave_bg_sp.png");
    background-size: 375px auto;
  }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   top: 0;
  //   left: 0;
  //   background: repeat-x top left;
  //   background-size: 100% auto;
  //   width: 100%;
  //   @include PC {
  //     background-image: url($img_url + "img/common/wave_bg.png");
  //     height: 450px;
  //   }
  //   @include SP {
  //     background-image: url($img_url + "img/common/wave_bg_sp.png");
  //     height: 491px;
  //   }
  // }
}
