@charset 'UTF-8';

.c-img {
  display: block;
  position: relative;
  img {
    display: block;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
  &--top {
    img {
      object-position: top;
    }
  }
}

.c-fw {
  width: 100%;
}

[rel~="js-lazy"] {
  opacity: 0;
  &:not(.initial) {
    transition: opacity 0.15s;
  }
  &.initial,
  &.loaded,
  &.error {
    opacity: 1;
  }
}

.c-lazybg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &--top {
    background-position: center top;
  }
  &--contain {
    background-size: contain;
  }
}


/* ===================== MAINVISUAL ===================== */
.c-mainvisual {

}
.c-breadcrumb {
  @include PC {

  }
  @include SP {
    line-height: 1;
  }
  ul {
    @include PC {
      @include flexbox;
      @include align-items(center);
      @include flex-wrap(wrap);
    }
  }
  li,
  a {
    display: inline-block;
    color: $color_body;
    @include SP {
      display: inline;
    }
  }
  li {
    position: relative;
    @include font(12, "", 0, 500);
    &:not(:last-child) {
      &::after {
        display: inline-block;
        vertical-align: middle;
        content: "/";
        margin: auto 10px 3px 11px;
      }
    }
    &:first-child {
      a {
        opacity: 1;
        transition: 0.3s;
        @include HOVER {
          color: $blue01;
        }
      }
      &::before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        margin: auto;
        width: 12px;
        height: 19px;
        margin: auto 6px 5px 0;
        background: url('data:image/svg+xml,<svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 1.5L12 6.30761V13.5H0V6.30761L6 1.5ZM4.8 12.3463H7.2V9.46193H4.8V12.3463ZM8.4 12.3463H10.8V6.84756L6 3.00216L1.2 6.84756V12.3463H3.6V8.30819H8.4V12.3463Z" fill="black"/></svg>') center no-repeat;
      }
    }
  }
}


/* ===================== BUTTON ===================== */
.c-btn01 {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
  // background: #fff;
  border: solid 1px $blue01;
  border-radius: 25px;
  transition: all 0.4s ease;
  @include PC {
    padding: 9px 31px 9px 21px;
  }
  @include SP {
    padding: 6px 27px 6px 29px;
  }
  @include HOVER {
    opacity: 1;
    background-color: $blue01;
    color: #fff;
    &:before {
      right: 0;
      opacity: 1;
    }
    .arr01 {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    .arr02 {
      transform: translateX(13px) scale(0.5);
      opacity: 0;
    }
    span {
      transform: translateX(13px);
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: $blue01;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .arr01,
  .arr02 {
    position: absolute;
    z-index: 2;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 100% 100%;
    transition: all 0.4s ease;
  }
  .arr01 {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="white"/></svg>');
    transform: translateX(-13px) scale(0.5);
    opacity: 0;
    @include PC {
      left: 14px;
    }
    @include SP {
      left: 9px;
    }
  }
  .arr02 {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2594 10.8035L3.75 10.8035L3.75 9.19645L13.2594 9.19645L9.06875 4.88622L10.1734 3.75L16.25 10L10.1734 16.25L9.06875 15.1138L13.2594 10.8035Z" fill="%2365B0D4"/></svg>');
    transform: translateX(0) scale(1);
    @include PC {
      right: 14px;
    }
    @include SP {
      right: 9px;
    }
  }
  span {
    position: relative;
    z-index: 3;
    display: inline-block;
    @include font(16, 30, 0.12, 700);
    transition: transform 0.4s ease;
    @include SP {
      @include font(14, 24);
    }
  }
}
/* ===================== BUTTON ===================== */
