@charset 'UTF-8';

.top {
  .header {
    position: relative;
    height: 0;
  }
}

.header {
  position: fixed;
  left: auto;
  top: auto;
  z-index: 1000;
  width: 100%;
  padding: 0;
  // background: #fff;
  // @include add_prefix(box-shadow, 0px 0px 5px 1px rgba(0, 0, 0, 0.1));
  @include PC {
    height: 90px;
  }
  @include SP {
    height: 90px;
    padding: 0 15px;
  }
  .inHeader {
    margin: 0 auto;
    position: relative;
    z-index: 2000;
    height: 90px;
    transition: all 0.3s ease;
  }
  #logo {
    position: absolute;
    left: 60px;
    top: 25px;
    z-index: 1000;
    height: 70px;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include add_prefix(transition, 0.3s ease all);
    @include PC {
      @include max-screen(1440px) {
        left: calc(60 / 1440 * 100vw);
      }
    }
    @include SP {
      top: 15px;
    }
    img {
      display: block;
      width: 223px;
      @include add_prefix(transition, 0.3s ease all);
      @include PC {
        @include max-screen(1440px) {
          width: calc(223 / 1440 * 100vw);
        }
      }
      @include SP {
        width: 80px;
        height: 20px;
      }
    }
    .logo-white {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      opacity: 0;
    }
  }

  &.is-white {
    #logo {
      .logo-black {
        opacity: 0;
      }
      .logo-white {
        opacity: 1;
      }
    }
    .layerMenuPC {
      .gNavi .gNavi-item .gNavi-item__link {
        color: #fff;
        @include HOVER {
          color: $blue01;
        }
      }
    }
    .btnLang {
      .gLang .gLang-item .gLang-item__link {
        color: #fff;
        @include HOVER {
          color: $blue01;
        }
      }
    }
    .hamberger {
      span {
        background: #fff;
      }
    }
  }
}

.fixHeader {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    .inHeader {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }
    #logo {
      left: 40px;
      top: 10px;
      @include PC {
        @include max-screen(1440px) {
          left: calc(40 / 1440 * 100vw);
        }
      }
      img {
        width: 159px;
      }
    }
  }
  .layerMenuPC {
    @include justify-content(center);
    padding-bottom: 1px;
  }
  .btnLang {
    position: fixed;
    top: 52px;
  }
  .hamberger {
    position: fixed;
    top: 55px;
  }
}

.layerMenu {
  text-align: right;
  position: fixed;
  // right: -100%;
  right: 20px;
  top: 20px;
  border-radius: 20px;
  z-index: 1000;
  width: 100%;
  max-width: 430px;
  height: calc(100% - 40px);
  text-align: left;
  background: #fff;
  .gNavi {
    @include SP {
      margin-bottom: 30px;
    }
    > li {
      display: inline-block;
      vertical-align: top;
      width: auto;
      margin-left: 3%;
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      @include SP {
        display: block;
        width: 100%;
        font-weight: bold;
        border-bottom: 1px solid #fff;
        margin: 0;
      }
      > a {
        display: block;
        padding: 3px 0;
        position: relative;
        @include SP {
          color: #7b7b7b;
          padding: 17px 0 15px 0;
        }
        &:before {
          content: "";
          position: absolute;
          right: 2px;
          top: 50%;
          width: 8px;
          height: 8px;
          margin-top: -6px;
          border-left: 1px solid #000;
          border-top: 1px solid #000;
          transform: rotate(-135deg);
          @include add_prefix(transition, 0.3s ease all);
          display: none;
          @include SP {
            display: block;
            right: 10px;
            margin-top: -4px;
            transform: rotate(135deg);
          }
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: red;
          transform: scaleX(0);
          @include add_prefix(transition, 0.3s ease all);
          @include SP {
            display: none;
          }
        }
        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }
      &.hasSub {
        a {
          padding-right: 20px;
          &:before {
            display: block;
            border-color: red;
            @include SP {
              transform: rotate(-135deg);
            }
          }
          &:hover {
            &:after {
              display: none;
            }
          }
        }
      }
      &.active {
        a {
          &:before {
            margin-top: -3px;
            transform: rotate(45deg);
            @include SP {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
  .inLayer {
    @include SP {
      position: relative;
      height: 90%;
      padding: 0 30px 30px;
      overflow: auto;
    }
  }
  .close_layer {
    @include SP {
      display: block;
      padding: 12px 0 10px;
      background: #bfbfbf;
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.layerMenuPC {
  position: relative;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-end);
  height: 100%;
  width: 100%;
  max-width: 498px;
  margin: 0 auto;
  padding-bottom: 3px;
  padding-left: 12px;
  transition: all 0.3s ease;
  @include PC {
    @include max-screen(1440px) {
      max-width: calc(498 / 1440 * 100vw);
    }
  }
  .gNaviPC {
    @include flexbox;
    @include justify-content(space-between);
    .gNaviPC-item {
      position: relative;
      display: inline-block;
      .gNaviPC-item__link {
        position: relative;
        display: block;
        @include font(15, 20, 0.1, 700);
        padding-top: 33px;
        transition: color 0.3s ease;
        @include PC {
          @include max-screen(1200px) {
            font-size: calc(15 / 1200 * 100vw);
          }
        }
        @include HOVER {
          opacity: 1;
          color: $blue01;
          .icon {
            transform: translateY(5px);
          }
        }
        .icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          text-align: center;
          transition: transform 0.3s ease;
        }
      }
      &.hasSub {
        .gNaviPC-item__link {
          @include HOVER {
            span {
              &:before {
                transform: rotate(90deg);
              }
            }
          }
          span {
            padding-right: 20px;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              right: 6px;
              top: 3px;
              width: 10px;
              height: 10px;
              background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4.25" width="1.5" height="10" fill="%2365B0D4"/><rect x="10" y="4.25" width="1.5" height="10" transform="rotate(90 10 4.25)" fill="%2365B0D4"/></svg>');
              background-repeat: no-repeat;
              background-position: center;
              background-color: transparent;
              background-size: 100% 100%;
              transition: transform 0.3s ease;
              @include PC {
                @include max-screen(1200px) {
                  right: calc(6 / 1200 * 100vw);
                  top: calc(3 / 1200 * 100vw);
                  width: calc(10 / 1200 * 100vw);
                  height: calc(10 / 1200 * 100vw);
                }
              }
            }
          }
        }
      }
      &.active {
        a {
          &:before {
            margin-top: -3px;
            transform: rotate(45deg);
            @include SP {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    .navSub {
      width: 180px;
      top: 42px;
    }
  }
}

.btnLang {
  position: fixed;
  position: absolute;
  right: 139px;
  top: 47px;
  z-index: 1000;
  transition: all 0.3s ease;
  @include PC {
    @include max-screen(1440px) {
      right: calc(139 / 1440 * 100vw);
    }
  }
  .gLang {
    .gLang-item {
      position: relative;
      display: inline-block;
      .gLang-item__link {
        position: relative;
        display: block;
        width: 106px;
        padding-left: 31px;
        @include ffGT;
        @include font(15, "", 0.05, 600);
        transition: color 0.3s ease;
        @include HOVER {
          color: $blue01;
          .icon {
            .circle {
              transform: rotate(125deg);
            }
          }
        }
        .icon {
          position: absolute;
          display: block;
          width: 24px;
          height: 24px;
          left: -1px;
          top: -1px;
          .circle {
            position: absolute;
            top: 2px;
            left: 0;
            transition: transform 0.3s ease;
          }
        }
      }
    }
    .navSub {
      width: 150px;
      top: 28px;
      .navSub-lst {
        li {
          &:nth-child(2) {
            a {
              @include ffGT;
              @include font(15, 20, 0, 600);
            }
          }
        }
      }
    }
  }
}

.btnLang,
.layerMenuPC,
.layerMenu {
  .navSub {
    position: absolute;
    padding-top: 36px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    @include SP {
      position: static;
      left: auto;
      top: auto;
      width: 100%;
      padding: 0;
      transform: none;
    }
    .navSub-lst {
      padding: 17px 20px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      li {
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
        a {
          display: inline-block;
          position: relative;
          @include font(15, 20, 0.1, 700);
          transition: color 0.3s ease;
          @include HOVER {
            opacity: 1;
            color: $blue01;
          }
        }
      }
    }
  }
}

.layerOn {
  //overflow: hidden;
  .layerMenu {
    right: 0;
  }
}

.hamberger {
  // position: fixed;
  position: absolute;
  right: 60px;
  top: 50px;
  z-index: 1000;
  width: 30px;
  height: 20px;
  padding: 6px 0;
  line-height: 1;
  font-size: 0;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;
  @include PC {
    @include max-screen(1440px) {
      right: calc(60 / 1440 * 100vw);
    }
  }
  @include HOVER {
    span {
      width: 20px;
    }
  }
  span {
    display: block;
    width: 30px;
    height: 1px;
    margin-bottom: 6px;
    background: #000;
    @include add_prefix(transition, 0.3s ease all);
    .ham {
      margin: 0 auto 0 0;
    }
    &.ber {
      margin: 0 0 0 auto;
    }
  }
  // &.active {
  //   span {
  //     width: 30px;
  //   }
  //   .ham {
  //     transform: rotate(45deg) translateY(7px) translateX(7px);
  //   }
  //   .ber {
  //     transform: rotate(-45deg);
  //   }
  // }
}
