.wp-pagenavi {
  @include clearfix;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  span,
  a {
    line-height: 30px;
    display: inline-block;
    margin: 0 4px;
    color: #666;
    text-align: center;
  }
  a {
    @include HOVER {
      background: #1489c3;
      color: #fff;
    }
  }
  span {
    &.curren {
      border-radius: 15px;
      width: 30px;
      height: 30px;
      background: #ededed;
      background: #1489c3;
      color: #fff;
    }
  }
  .pages {
    margin-right: 15px;
  }
}

.mod-pagination {
  position: relative;
  @include flexbox;
  @include justify-content(space-between);
  border-top: 1px dotted rgba($color_body, 0.5);
  @include PC {
    padding-top: 40px;
    max-width: 900px;
    margin: 0 auto;
  }
  @include SP {
    padding-top: 24px;
    padding-bottom: 65px;
  }
  .prev,
  .next {
    @include flex(1);
    @include flexbox;
    @include align-items(center);
    @include PC {
      max-width: calc(300 / 900 * 100%);
    }
    @include SP {
      @include flex-direction(column);
      @include justify-content(center);
      padding: 0 calc(32 / 375 * 100vw);
    }
    &.disable {
      opacity: 0;
      pointer-events: none;
      height: 0;
    }
    &__thumb {
      @include aspect-ratio(100, 100);
      -webkit-mask-image: url($img_url + "img/common/mask_bg04.png");
      mask-image: url($img_url + "img/common/mask_bg04.png");
      object-fit: cover;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      @include PC {
        width: calc(100.02 / 300 * 100%);
        max-width: 100px;
        margin-right: 20px;
      }
      @include SP {
        width: 100%;
        margin-bottom: 11px;
        &:after {
          position: absolute;
          content: "";
          display: block;
          top: 0;
          bottom: 0;
          left: -32px;
          margin: auto;
          width: 20px;
          height: 20px;
          z-index: 1;
          background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.74063 10.8035L16.25 10.8035L16.25 9.19645L6.74063 9.19645L10.9313 4.88622L9.82656 3.75L3.75 10L9.82656 16.25L10.9312 15.1138L6.74063 10.8035Z" fill="%2365B0D4"/></svg>')
            center no-repeat;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
    &__ttl {
      @include font(12, 22, 120, 700);
      @include flex(1);
      @include PC {
        @include multiLineEllipsis(2);
      }
      @include SP {
        @include font(11, 19);
        text-align: center;
        @include multiLineEllipsis(3);
      }
    }
  }
  .next {
    @include PC {
      @include flex-direction(row-reverse);
      &__ttl {
        text-align: right;
      }
    }
    &__thumb {
      @include PC {
        margin-left: 18px;
        margin-right: 0;
      }
      @include SP {
        &:after {
          transform: scale(-1);
          left: auto;
          right: -32px;
        }
      }
    }
  }
  .c-btn01 {
    @include PC {
      -webkit-align-self: center;
      align-self: center;
      max-width: 200px;
      margin: 1px 22px 0;
    }
    @include SP {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 180px;
    }
  }
}
