.wp-pagenavi {
  @include clearfix;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  span,
  a {
    line-height: 30px;
    display: inline-block;
    margin: 0 4px;
    color: #666;
    text-align: center;
  }
  a {
    @include HOVER {
      background: #1489c3;
      color: #fff;
    }
  }
  span {
    &.curren {
      border-radius: 15px;
      width: 30px;
      height: 30px;
      background: #ededed;
      background: #1489c3;
      color: #fff;
    }
  }
  .pages {
    margin-right: 15px;
  }
}

.mod-pagination {
  position: relative;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  border-top: 1px dotted rgba($color_body, 0.5);
  @include PC {
    padding-top: 40px;
    max-width: 900px;
    margin: 39px auto 0;
  }
  @include SP {
    padding-bottom: 133px;
    padding-top: 30px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .prev,
  .next {
    @include flex(1);
    @include flexbox;
    @include align-items(center);
    @include font(12, 22, 120, 700);
    @include SP {
      @include flex-direction(column);
      @include justify-content(center);
      @include font(11,19);
    }
    &.disable {
      opacity: 0;
      pointer-events: none;
      height: 0;
    }
    @include HOVER {
      opacity: 1;
    }
    &__thumb {
      position: relative;
      @include aspect-ratio(100, 100);
      @include PC {
        width: calc(100/328*100%);
        max-width: 100px;
        margin-right: 20px;
      }
      @include SP {
        width: 56.27%;
        margin-bottom: 14px;
        &:after {
          position: absolute;
          content: "";
          display: block;
          top: 0;
          bottom: 0;
          left: -32px;
          margin: auto;
          width: 20px;
          height: 20px;
          z-index: 1;
          background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.74063 10.8035L16.25 10.8035L16.25 9.19645L6.74063 9.19645L10.9313 4.88622L9.82656 3.75L3.75 10L9.82656 16.25L10.9312 15.1138L6.74063 10.8035Z" fill="%2365B0D4"/></svg>')
            center no-repeat;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
        z-index: 2;
      }
    }
    &__ttl {
      @include font(12, 22, 120, 700);
      @include flex(1);
      @include PC {
        text-align: left;
        @include multiLineEllipsis(2);
      }
      @include SP {
        text-align: center;
        @include multiLineEllipsis(3);
      }
    }
  }
  .next {
    @include PC {
      @include flex-direction(row-reverse);
      &__ttl {
        text-align: right;
      }
    }
    &__thumb {
      @include PC {
        margin-left: 18px;
        margin-right: 0;
      }
      @include SP {
        &:after {
          transform: scale(-1);
          left: auto;
          right: -32px;
        }
      }
    }
  }
  .c-btn01 {
    @include PC {
      max-width: 200px;
      margin: 1px 22px 0;
      padding-left: 31px;
      padding-right: 17px;
      &:before {
        left: 100%;
        right: 0;
      }
    }
    @include HOVER {
      &:before {
        right: auto;
        left: 0;
      }
      span {
        transform: translateX(-13px);
      }
      .arr01 {
        transform: translateX(0) scale(1);
      }
      .arr02 {
        transform: translateX(-13px) scale(0.5);
      }
    }
    @include SP {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
    .arr01 {
      left: auto;
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.74063 10.8035L16.25 10.8035L16.25 9.19645L6.74063 9.19645L10.9313 4.88622L9.82656 3.75L3.75 10L9.82656 16.25L10.9312 15.1138L6.74063 10.8035Z" fill="white"/></svg>');
      @include PC {
        right: 14px;
        transform: translateX(13px) scale(0.5);
      }
      @include SP {
        right: 9px;
      }
    }
    .arr02 {
      right: auto;
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.74063 10.8035L16.25 10.8035L16.25 9.19645L6.74063 9.19645L10.9313 4.88622L9.82656 3.75L3.75 10L9.82656 16.25L10.9312 15.1138L6.74063 10.8035Z" fill="%2365B0D4"/></svg>');
      @include PC {
        left: 14px;
      }
      @include SP {
        left: 9px;
      }
    }
  }
}